
@import '../base/variables';

#registerContainer{
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  padding-top: 2rem;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px){
        flex-direction: row;

        #first{
            width: 45%;
            margin-right: 20px;

        }
    }
}

.contentContainer{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: .7rem 1.5rem;
    flex: 1;
}

#first{
    float: left;
}

#second{
    overflow: hidden;
}

#register{
    width: 100%;
}

.heading{
  font-family: Calibri, sans-serif ;
  font-size: 28px;
  color: #333e48;
  font-weight: bold;
  float: left;
  margin-bottom: .5rem;
}

.formLabel, .listItem{
    float: left;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    color: #666;
    margin-bottom: .2rem;
    clear: left;
}

.formLabel:hover{
    cursor: pointer;
}

small{
    font-family: "Calibri Light", sans-serif;
    float: right;
    color: #989898;
    font-size: .71429rem;
    text-transform: uppercase;
    margin-top: .2rem;
}

select, input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.formInput, .errorInput{
    border: 2px solid #d8d8d8;
    border-radius: 4px;
    width: 100%;
    color: #454545;
    font-size: 1rem;
    padding: .75rem 1rem;
    transition-property: border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    outline: none;
    margin-top: .30rem;
}

.formInput:focus{
    border-color: #737373;
}

.errorMsg{
    color: #ff7d7d;
    font-family: "Calibri Light", sans-serif;
    font-weight: lighter;
    clear: left;
}

.errorInput{
    border: 2px solid #ff7d7d;
}

.createAccountBtn, #createSignIn{
    min-width: 100px;
    text-align: center;
    border: none;
    color: white;
    border-radius: 25px;
    background-color: #454545;
    text-transform: uppercase;
    padding: .7rem 2.5rem;
    transition: 200ms ease;
    clear: both;
    outline: none;
}

#createSignIn{
    display: block;
}

.createAccountBtn:hover, #createSignIn:hover{
    background-color: #7a7a7a;
    border-radius: 15px;
    cursor: pointer;
}


#createSignIn{
    margin-top: 20px;
}

.listItem{
    line-height: 30px;
    margin-bottom: 15px;
}

