/* 
    Created on : 8-Feb-2019, 7:38:12 PM
    Author     : Danny
*/

@import '../base/variables';
@import '../mixins/media_queries';

.catalog_main{
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 25px;

    .header_wrap{
        width: 100%;
        display: flex;
        flex-direction: column;

        @include breakpoint(sm){
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 25px;
        }

        .genre_name{
            h3{
                font-weight: 300;
            }
        }

        .sort_by{
            display: flex;
            flex-direction: row;
            /*justify-content: flex-end;*/
            align-items: center;


            .label_sort_by{
                font-weight: 300;
                padding: 10px;
            }

            .sort_by_options{
                padding: .75rem 3rem .75em 1rem;
                border-radius: 0;
                border: 1px solid $very-light-gray;
            }
        }
    }

    .main_wrapper{
        display: flex;
        flex-direction: column;
        padding: 30px 0 50px 0;

        @include breakpoint(sm){
            flex-direction: row;
        }

        .search_filter_section{
            .title_section{
                padding-bottom: 10px;
                border-bottom: 1px solid $light_gray;

                @include breakpoint(sm){
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }

            margin-bottom: 50px;

            @include breakpoint(sm){
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;


                border-right: 1px solid $light_gray;
                margin-right: 20px;
                padding-right: 30px;
            }

            #filter_form{
                .filter_section{
                    .item_type, .criterias{
                        padding-top: 30px;
                    }

                    tr{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        td{
                            padding-right: 10px;
                            padding-bottom: 10px;
                        }

                        @include breakpoint(sm){
                            flex-direction: column;
                        }
                    }

                    .search_by{
                        .criterias{                            
                            .date_show{
                                display: none;
                                flex-direction: column;
                                padding-bottom: 20px;

                                input{
                                    margin-bottom: 10px;
                                }

                                &.opened{
                                    display: flex;
                                }

                            }
                        }
                    }
                }
            }



        }

        .item_section{
            flex: 1 1 auto;
            
            @include breakpoint(sm){
                margin-left: 10px;
            }

            .title_section{
                padding-bottom: 10px;
                border-bottom: 1px solid $light_gray;
            }

            .units{
                padding: 30px 0 0 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}