@import '../base/variables';
@import '../mixins/media_queries';
@import '../components/components';

.checkout {
  display: flex; // Flexbox to display form and order summary side-by-side
  max-width: 1000px;
  padding-top: 20px;
  margin: auto;

  &__form {
    flex: 2;
    margin-right: 20px;
  }

  &__order-summary {
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }


  // -------------------------
  // User Info Display
  // -------------------------

  &__user-info {
    display: flex; // Flexbox to easily display elements side-by-side
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.6;
  }

  &__user-info-title {
    font-size: 1.5em;
    width: 6em;
  }

  // -------------------------
  // Payment Information
  // -------------------------

  &__card-placeholder {
    padding: 15px;
  }

  &__payment-info {
    padding-top: 20px;
  }

  &__payment-info-title {
    font-size: 1.5em;
  }

  &__payment-info-data {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-gap: 15px;
    width: 100%;
    background-color: $very_very_light_gray;
    border: 1px solid $very_light_gray;
    border-radius: 2px;
    padding: 20px;

    // Repositioning slightly the inputs on bigger devices
    @include breakpoint(xs) {
      grid-template-columns: 1fr 100px;
      grid-template-rows: repeat(2, max-content);
    }
  }

  // -------------------------
  // Place Order Button Section
  // -------------------------

  &__place-order {
    margin-top: 20px;
  }
}
