



.center404 {
    text-align: center;
}
.errorMessage {
    color: #ff7e00; 
    font-size:30px;
}
.imageNotFound {
    width: 650px;
    height: 360px;
    margin-top: 3%;
    margin-bottom: 3%;
}

margin-btn {
    margin: 1%;
}