@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import '../base/variables';
.mainheading{
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  line-height: 2;
}

label{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.faq-accordion{
  margin: auto;
  max-width: 900px;

  .section{
    border-bottom: 1px solid $dark_navy_blue;
    font-family: "Calibri Light", sans-serif;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: .8rem;
  }

  .item{
    margin-bottom: 20px;
    position: relative;

    .expandable{
      display: none;
    }

    .expandable:checked{
      & + .question, & + .question + .answer{
        box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
      }
      & + .question + .answer{
        max-height: 400px;
      }
      & + .question:before{
        transform: rotate(90deg) !important;
      }
    }

    .question, .answer{
      transform: translateZ(0);
      transition: ease 150ms;
    }

    .question{
      padding: 15px;
      background: #f1f1f1;
      display: block;
      font-weight: bold;
      color: $dark_navy_blue;
    }

    .question:after, .question:before{
      content: "";
      position: absolute;
      top: 18px;
      right: 30px;
      width: 2px;
      height: 15px;
      background-color: $dark_navy_blue;
      transition: ease 150ms;
    }

    .question:after{
      transform: rotate(90deg);
    }

    .question:hover{
      cursor: pointer;
      background: #f5f5f5;
    }

    .answer{
      overflow: hidden;
      max-height: 0;
      background: white;

      p{
        margin: 0;
        padding: 10px 15px 15px;
        font-size: 16px;
        line-height: 1.8;
      }

    }

  }

}