/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Lara
*/

@import '../base/variables';
@import '../mixins/media_queries';


// -------------------------
// Containers set up
// -------------------------
.item-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(sm) {
        padding-top: 10px;
        align-items: stretch;
        flex-direction: row;
    }
}

.item-image {
    flex: 1;
}

.item-info {
    flex: 3;
}

.content {
    display: contents;
}

// -------------------------
// Text set up
// -------------------------
.title {
    font-family: 'Montserrat', sans-serif; /* temp */
    font-size: 30px;
    letter-spacing: .25px;
    border-bottom: 1px solid $very_light_gray;
}

.successMessage {
    text-align: center;
    font-size: 18px;
    color: $correct_green;
}

.errorMessage {
    text-align: center;
    font-size: 18px;
    color: $wrong_red; 
}

.center {
    margin:auto;
}

.review-title {
    border: none;
}

.orange-text {
    color: $orange;
}


// -------------------------
// Commun set up
// -------------------------
.display-block {
    display: block;
}

.margin-top {
    margin-top: 10px;
}

.padding-vertical {
    padding: 0 25px;
}

.padding-horizontal {
    padding: 10px 0;  
}

.margin-horizontal {
    margin: 10px 0;
}

.padding-image {
    max-width: 400px;
    height: auto;
    padding: 0 20px 25px 25px; 
}

// -------------------------
// Misc info
// -------------------------
.song-writers {
    display: flex;
    flex-wrap: wrap;
}

.date-posted{
    color: $light_gray;
}

.view-recomended-items {
    display: flex;
    flex-direction: column;
}

.recomended-items-container{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.album-item {
    margin-bottom: 20px;
    flex: 1;   
    flex-basis: 30%
}
/********************************************************************* Item Review *********************************************************************/
// -------------------------
// Containers set up
// -------------------------
.add-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-form{
    display: flex;
    flex-direction: column;
    max-width: 450px;

    @include breakpoint(xs) {
        max-width: 700x;
    }

    @include breakpoint(sm) {
        max-width: 900px;
    }
}

.add-review-stars {
    margin: 0 auto;
}

.read-review {
    display: flex;
    flex-direction: column;
    border: 2px solid $very_light-gray;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 25px;
}

.info-about-review {
    display: flex;
}

.review-container {
    max-width: 700px;
    padding: 10px 0px 10px 25px;
}

.review-comment {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.5px;
}

.star-image-width {
    width: 20px;
    height: 1em;
}
.star-review {
    display: flex;
    align-items: baseline;
} 


// -------------------------
// Text set up
// -------------------------
.reviwer {
    font-weight: 600;
}

// -------------------------
// Effects 
// -------------------------
.link {
    border-bottom: 1.5px solid $orange;
    width: max-content; 
}

.link:hover {
    color: $star_yellow;
}
.item-button-center {
    margin: auto;
    @include breakpoint(sm) {
        margin: 0;
    }
}

.review-container {
    max-width: 400px;
    padding: 10px 0px 10px 25px;
}

.review-comment {
    max-width: 300px;
}
