@import '../base/variables';
@import '../mixins/media_queries';
@import 'authentication';

#topBannerContainer{
    background-image: url("\#{resource['/images/bg.png']}");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
    padding: 5rem 3rem;
    margin: 10px 0;

}

.headingTxt, .subTxt, #browseBtn{
    color: white;
    font-family: "Calibri Light", sans-serif;
}

.headingTxt{
    font-size: 40px;
}

.subTxt{
    font-size: xx-large;
}

#browseBtn{
    margin-top: 2rem;
    background: transparent;
    border-radius: 8px;
    border: 1px solid white;
    padding: .7rem 2.5rem;
    text-transform: uppercase;
    outline: none;
    transition: 150ms ease;
    font-size: x-large;
}

#browseBtn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#promotionSection{
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    display: inline-block;
    padding: 1.3rem 2.5rem;
    text-align: center;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(md){
        flex-direction: row;
    }


    .promotionItem{
        display: inline-block;
        min-width: 25%;
        padding: 2%;

        border-top: 1px solid #EBEBEB;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(md){
            border-top: none;
            border-left: 1px solid #EBEBEB;
        }

        &:first-child {
            border: none;
        }

        img{
            padding: 10px;
        }

        .itemHeader{
            font-weight: bold;
            font-family: Calibri, sans-serif;
            display: inline;
            margin: 0;
        }

        .itemDetails{
            font-family: "Calibri Light", sans-serif;
            font-weight: lighter;
            overflow: auto;
            margin: 0;
        }
    }
}


#adbannerSpace{
    width: 100%;
    display: inline-block;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(sm){
        flex-direction: row;
    }


    .ad{
        text-align: center;
        color: #a9a9a9;
        text-transform: uppercase;
        font-family: Calibri, sans-serif;
        font-weight: lighter;
        flex: 1;
        width: 100%;
        max-height: 430px;

        @include breakpoint(sm){
            width: 50%;
        }

        a{
            object-fit: cover;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: top;
        }
    }
}

.head{
    border-bottom: 1px solid $very_light_gray;
    margin-bottom: 30px;
    font-size: xx-large;
}

#releasesSection, .news_feed, #surveyForm, #resultSpace{
    .head{
        border-bottom: 1px solid $very_light_gray;
        padding: 5px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

#releasesSection{
    .units{
        display: flex;
        flex-direction: row;
        overflow: hidden;

        flex-wrap: wrap;

        .unit{
            width: 50%;

            @include breakpoint(sm){
                width: 25%;
            }

            .album_display{
                @media screen and (max-width: 768px){
                    /*                    padding: 0;
                                        margin: 0;*/
                }

                @include breakpoint(lg){
                    padding: 0 40px;
                }
            }
        }
    }
}

.news_feed{
    .news_units{
        display: flex;
        overflow: hidden;

        flex-direction: column;
        justify-content: center;

        @include breakpoint(sm){
            flex-direction: row;
        }

        .news_unit{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            
            @include breakpoint(sm){
                width: 25%;
                display: block;
                flex-direction: column;
                margin: 0;
            }

            @include breakpoint(lg){
                width: 20%;
            }

            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                padding: 20px;
                width: 30%;
                flex: 0 0 auto;

                @include breakpoint(sm){
                    width: 100%;
                }
            }

            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical; 
                width: 50%;
                flex: 0 0 auto;

                @include breakpoint(sm){
                    width: 100%;
                }
            }
        }
    }
}

#surveySpace{
    @media screen and (max-width: 1350px){
        width: 100%;
    }

    .head{
        width: 100%;
        margin-bottom: .7rem;
    }

    #survey {
        margin-left: 1%;
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            display: inline-block;
            position: relative;
            background-color: #f1f1f1;
            color: #b52300;
            top: 10px;
            height: 30px;
            width: 30px;
            border: 0;
            border-radius: 50px;
            cursor: pointer;
            margin-right: 7px;
            outline: none;
            transition: 100ms ease;
        }
        input:checked::before{
            position: absolute;
            font: 13px/1 'Open Sans', sans-serif;
            left: 11px;
            top: 7px;
            content: '\02143';
            transform: rotate(40deg);
        }
        input:hover{
            background-color: #ffe5ba;
        }
        input:checked{
            background-color: #ff7e00;
        }
        label{
            font: 300 16px/1.7 'Calibri Light', sans-serif;
            color: #666;
            cursor: pointer;
        }
    }
    .submitSurvey{
        @extend .createAccountBtn;
        margin-left: 1%;
        margin-top: .6rem;
    }
}

#resultSpace{
    .surveyResultsList {
        list-style: none;
        margin-left: 1%;
        width: 50%;
        line-height: 2;
        font-family: "Calibri Light", sans-serif;

        .percentageBar {
            width: 0;
            .animation_progress{
                height: 7px;
                background-color: #ff7e00;
                border-radius: 10px;
                margin-bottom: .7rem;
                width: 0;
                animation: progress 2s ease-in-out 2s 1 forwards;

            }
        }

        @keyframes progress {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
    }

    #totalVotes{
        margin-left: 1%;
        margin-top: 1%;
        font-size: x-large;
        font-weight: bold;
        font-family: "Calibri Light", sans-serif;
    }

    .chosen{
        border-radius: 50%;
        padding: 2px 5px;
        border: 2px solid #666;
        color: #666;
        text-align: center;
    }
}
