@import '../base/variables';
@import '../mixins/media_queries';
@import '../components/components';

.my-account {
  &__wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    min-height: 90vh;
  }

  &__menu {
    flex: 1;
    padding-right: 10px;
  }

  &__content {
    flex: 3;
    padding-left: 15px;
  }

  &__menu-list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__menu-title {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2em;
    padding-bottom: 5px;
    color: $dark_navy_blue;
  }

  &__menu-link {
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 0.9em;

    &:hover {
      color: $blue;
    }
  }
}

.account-info {
  &__title {
    font-size: 1.3em;
    color: rgba($dark_navy_blue, 0.8);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__welcome-message {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__explanation {
    margin-bottom: 25px;
  }

  &__section {
    padding-bottom: 35px;
  }

  &__section-title {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  &__section-info-line {
    display: block;
    line-height: 1.2em;
    font-style: italic;
  }
}

.my-orders {
  &__order-title {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  &__order-date {
    flex: 1;
    text-align: right;
  }

  &__order {

  }
}

.account-settings {
  &__setting-title {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  &__setting {
    padding-bottom: 20px;
  }
}