.order-confirm {
  &__parag {
    line-height: 1.2em;
  }

  &__order-id {
    font-weight: bold;
  }

  &__total {
    font-weight: bold;
  }

  &__credit-card {
    font-weight: bold;
  }

  &__email {
    font-weight: bold;
  }

  &__to-home-button {
    margin-top: 20px;
  }
}