<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:jsf="http://xmlns.jcp.org/jsf">
    <footer class="darker">
        <div class="main_footer">
            <div class="left">
                <div class="contact_info">
                    <div class="logo">
                        <h:graphicImage value="/resources/images/Logo.svg"/>
                    </div>
                    <p>#{msg.dawsonCollege} <br/>#{msg.addressDawson}, <br/> #{msg.locationAddress}</p>
                </div>

                <div class="footer_links">
                    <h2>Questions?</h2>
                    <h:link class="link" outcome="/storefront/pages/public/help.xhtml">#{msg.FAQTag}</h:link>
                    </div>
            </div>

            <div class="slogan">
                <h2>#{msg.whatWeOffer}</h2>
                <p>#{msg.getFreeAccount}<br/>
                    #{msg.info1}<br/> #{msg.info2}<br/> #{msg.info3}</p>
            </div>
        </div>

        <div class="credits">
            <p>MusicBox 2019©</p>
            <div class="footerRight">
                <h:graphicImage class="smallImages" value="/resources/images/visa.png"/>
                <h:graphicImage class ="smallImages" value="/resources/images/mastercard.png"/>
            </div>
        </div>
    </footer>
</ui:composition>

