<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:jsf="http://xmlns.jcp.org/jsf">

    <div class="navbar">
        <div class="top_section">

            <!-- MISCELLANEOUS DESCRIPTION TEXT -->
            <div class="canada_only">#{msg.canadaOnly}</div>

            <!-- MY ACCOUNT & LANGUAGES -->
            <div class="right_container">
                <!--<div class="my_account">My Account</div>-->
                <div class="lang">
                    <h:form>
                        <h:commandButton styleClass="english_lang" action="#{languageBean.setLanguage('en')}" value="EN" />
                    </h:form>
                    <h:form>
                        <h:commandButton styleClass="french_lang" action="#{languageBean.setLanguage('fr')}" value="FR"/>
                    </h:form>
                </div>
            </div>
        </div>


        <div class="mid_section">

            <!-- LOGO -->
            <div class="logo">
                <h:link outcome="/home">
                    <h:graphicImage value="/resources/images/Logo.svg"/>
                </h:link>
            </div>

            <!--Responsiveness wrapper-->
            <div class="midnav_wrapper">

                <div class="arrow" id="arrow"></div>

                <!-- SEARCH FORM -->
                <h:form class="search_form" id="searchForm">
                    <h:inputText class="input_search" id="searchTerm" p:placeholder="#{msg.searchHint}"
                                 value="#{searchBean.searchTerm}"/>
                    <h:commandButton id="searchSubmit" class="button_search" action="/storefront/pages/public/catalog?faces-redirect=true&amp;includeViewParams=true"
                                     value="#{msg.searchBtn}"/>
                </h:form>

                <div class="account_link_wrapper">
                    <!-- IF USER IS NOT LOGGED IN A LINK TO LOGIN IS RENDREDED -->
                    <h:link outcome="/storefront/pages/public/login" class="user" rendered="#{userBean.loggedIn eq false}">
                        <div class="nav_user_container">
                            <div class="icon_container">
                                <h:graphicImage value="/resources/images/login_icon.svg"/>
                            </div>
                            <div class="info_container">
                                <div class="hi_container">
                                    #{msg.welcome}
                                </div>
                                <div class="your_account_container sub_section">#{msg.signIn}</div>
                            </div>
                        </div>
                    </h:link>

                    <!-- IF USER IS LOGGED A LINK TO MY ACCOUNT IS RENDERED -->
                    <h:link outcome="/storefront/pages/authenticated/accountInformation.xhtml" class="user" rendered="#{userBean.loggedIn eq true}">
                        <div class="nav_user_container">
                            <div class="icon_container">
                                <h:graphicImage value="/resources/images/login_icon.svg"/>
                            </div>
                            <div class="info_container">
                                <div class="hi_container">
                                    #{msg.greeting}, #{userBean.user.firstName}
                                </div>
                                <div class="your_account_container sub_section">#{msg.yourAccount}</div>
                            </div>
                        </div>
                    </h:link>

                    <!-- CART -->
                    <h:link outcome="/storefront/pages/public/cart" class="user">
                        <div class="nav_user_container">
                            <div class="icon_container" >  
                                <h:graphicImage value="/resources/images/cart_icon.svg"/>
                            </div>
                            <h:panelGroup layout="block" id="cart_info" styleClass="info_container">
                                <div class="my_cart">#{msg.myCart}</div>
                                <div class="items_value sub_section">#{shoppingCartBean.count} #{msg.items} - $
                                    <h:outputText value = "#{shoppingCartBean.grandTotal}">
                                        <f:convertNumber maxFractionDigits = "2" minFractionDigits="2"/>
                                    </h:outputText>
                                </div>
                            </h:panelGroup>
                        </div>
                    </h:link>
                </div>

            </div>
        </div>

        <!-- NAVIGATION -->
        <div class="bottom_section" id="bottom_section">
            <!-- ALL OTHER LINKS -->
            <div class="nav_tabs_container">
                <ul>
                    <li>

                        <!-- ALL GENRES -->
                        <div class="all_genre_tab" id="genre">
                            <div class="all_genre_button">

                                <div class="all_genre_tab_top">
                                    <div class="all_genre_text">#{msg.allGenre}</div>
                                    <div class="hamburger"/>
                                </div>

                                <div class="genre_list">
                                    <ui:repeat value="#{categoryBean.allCategory}" var="cat">
                                        <div class="genre_unit">
                                            <h:link value="#{cat.name}" outcome="/storefront/pages/public/catalog">
                                                <f:param name="searchTerm" value="#{cat.name}" />
                                            </h:link>
                                        </div>
                                    </ui:repeat>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><h:link outcome="/home">#{msg.homeTag}</h:link></li>
                    <li><h:link outcome="/storefront/pages/public/help.xhtml">#{msg.FAQTag}</h:link></li>
                </ul>
            </div>
        </div>
    </div>
</ui:composition>