@import 'base/variables';
@import 'pages/item_details';

.dataTables_length {
    margin: 10px 0;  
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}
.text-margin-horizontal {
    margin: 2px 0;
}

.text-bold {
    font-weight: 800;
}