/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2019, 8:15:16 PM
    Author     : Danny
*/

.input{
    padding: 20px 0;
    border-top: 1px solid rgba(69, 69, 69, 0.9);
}

.button_listing_group{
    display: flex;
    flex-wrap: wrap;
}

.button_group_spacing_wrap, .input_group_expand{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(69, 69, 69, 0.3);
    margin-bottom: 20px;
}

div.arrow{
    border-color: rgba(69, 69, 69, 0.9);
    top: 0;
    right: 20px;
    
    width: 30px;
    height: 30px;
    
    flex: 0 0 auto;
    
    &.arrow_up{
        top: 20px;
    }
}

#genre_table, #artist_track_table, #album_track_table, #artist_album_table{
    display: none;
    
    &.expanded{
        display: block;
    }
}

.input_group_expand{
    input{
        width: auto;
    }
    
    .arrow{
        flex: 0 0 auto;
    }
}

.fixImageSize{
    max-width: 100px;
    max-height: 100px;
}

.image_selection_wrap{
    display: flex;
    align-items: center;
    
    input[type="file"]{
        margin-left: 20px;
    }
}

.successWrap{
    display: flex;
    align-items: center;
    
}

.admin_data__toolbar.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}