@import 'pages/item_details';

.reivewManagement {

    .margin-bottom {
        margin-bottom: 10px;
    }
    .title {
        border-bottom: 1px solid $very_light_gray;
        text-align: center;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $orange;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $very_light_gray;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before { 
        border-radius: 50%;
    } 
    .review-container-manager {
        display: flex;
        flex-direction: column;
        border: 2px solid $very_light-gray;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;

        .review-header {
            display: flex;
        }

        .review-comment {
            align-items: baseline;
        }

        .item-manager {
            display: flex;
            flex-direction: column;
        }
    }

    .margin {
        margin: 25px;
    }
}
