<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="item"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="unit" id="#{cc.attrs.item.itemId}">
            <h:panelGroup layout="block" class="album_display">

                <!-- ITEM IMAGE -->
                <figure class="img_container">
                    <h:link outcome="/storefront/pages/public/itemDetails">
                        <f:param name="id" value="#{cc.attrs.item.itemId}"/>
                        <h:graphicImage class="fit_cover" alt="track image" value="/images/#{cc.attrs.item.picturePath}"/>
                    </h:link>
                </figure>

                <!-- ITEM NAME -->
                <h:link value="#{cc.attrs.item.name}" class="album_title_link" outcome="/storefront/pages/public/itemDetails">
                    <f:param name="id" value="#{cc.attrs.item.itemId}"/>
                </h:link>

                <p id="artist">
                    <!--IF ALBUM-->
                    <h:outputText value="#{cc.attrs.item.artist.name}" rendered="${cc.attrs.item.itemType == 'album'}"/>

                    <!--IF TRACK-->
                    <ui:repeat value="#{cc.attrs.item.artistList}" var="artist" size="1" rendered="${cc.attrs.item.itemType == 'track'}">
                        <h:outputText value="#{artist.name}"  />
                    </ui:repeat>
                </p>


                <!-- REVIEW STARS -->
                <div class="review_section">
                    <ui:repeat value="#{cc.attrs.item.listOf5}" var="star" size="#{cc.attrs.item.averageReview}" rendered="#{cc.attrs.item.averageReview ne 0}">
                        <h:graphicImage class="basic_star" value="/resources/images/review_star_yellow.svg"/>
                    </ui:repeat>
                    <ui:repeat value="#{cc.attrs.item.listOf5}" var="star" size="#{5 - cc.attrs.item.averageReview}" rendered="#{cc.attrs.item.averageReview ne 5}">
                        <h:graphicImage class="basic_star" value="/resources/images/review_star_blank.svg"/>                    
                    </ui:repeat>
                    <span class="review_count">
                        (#{cc.attrs.item.reviewQuantity})
                    </span>
                </div>

                <!-- ITEM PRICE -->
                <h:form rendered="#{cc.attrs.item.salePrice eq 0.0}">
                    <div class="prices">
                        <p id="list_price" class="price">#{cc.attrs.item.listPrice}</p>
                    </div>
                </h:form>

                <h:form rendered="#{cc.attrs.item.salePrice ne 0.0}">
                    <div class="prices">
                        <p id="sales_price" class="price">#{cc.attrs.item.salePrice}</p>
                        <p id="list_price" class="price cancelled_price">#{cc.attrs.item.listPrice}</p>
                    </div>
                </h:form>
                <!-- ITEM INFORMATION BASED ON ITEM TYPE -->
                <p id="artist">#{cc.attrs.item.itemType}</p>

                <!-- ADD TO CART BUTTON -->
                <h:panelGroup layout="block" class="button_group">
                    <h:form>
                        <h:commandButton class="button add_to_cart_button"
                                         action="#{shoppingCartBean.addItemToCart(cc.attrs.item.itemId)}"
                                         value="#{msg.addToCart}"
                                         >
                            <f:ajax render="cart_info" />
                        </h:commandButton>
                    </h:form>
                </h:panelGroup>
            </h:panelGroup>
        </div>
    </cc:implementation>
</html>