<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/myAccountTemplate.xhtml">

    <ui:define name="my-account-content">
        <div class="account-info">
            <div class="account-info__title">
                #{msg["myAccMySettings"]}
            </div>
            <p class="account-info__explanation">
                #{msg["myAccSettingsHelp"]}
            </p>

            <h:form>
                <div class="account-settings__setting-title">
                    #{msg["myAccPassChange"]}
                </div>
                <div class="account-settings__setting">

                    <div class="input">
                        <label class="input__label" for="current-password">
                            #{msg["myAccCurrentPass"]}
                        </label>
                        <h:inputSecret id="current-password"
                                       binding="#{currentPassword}"
                                       styleClass="input__field #{currentPassword.valid ? '' : 'input__field--invalid'}"
                                       value="#{myAccountBean.currentPassword}"
                                       validator="#{myAccountBean.validateCurrentPassword}"
                                       required="true">
                        </h:inputSecret>
                        <h:message styleClass="input__error-message" for="current-password"/>
                    </div>

                    <div class="input">
                        <label class="input__label" for="new-password">
                            #{msg["myAccNewPass"]}
                        </label>
                        <h:inputSecret id="new-password"
                                       binding="#{newPassword}"
                                       styleClass="input__field #{newPassword.valid ? '' : 'input__field--invalid'}"
                                       value="#{myAccountBean.newPassword}"
                                       required="true">
                        </h:inputSecret>
                        <h:message styleClass="input__error-message" for="new-password"/>
                    </div>

                </div>

                <h:commandButton action="#{myAccountBean.changePassword}"
                                 styleClass="button button--small button--dark"
                                 value="#{msg['myAccChangePass']}">
                </h:commandButton>

                <h:messages globalOnly="true"/>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>