<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/myAccountTemplate.xhtml">

    <ui:define name="my-account-content">
        <div class="account-info">
            <div class="account-info__title">
                #{msg["myAccMyAccInfo"]}
            </div>
            <p class="account-info__welcome-message">
                #{msg["myAccHello"]}, <h:outputText value="#{user.firstName} #{user.lastName}"/>!
            </p>
            <p class="account-info__explanation">
                #{msg["myAccInfoHelp"]}
            </p>

            <div class="account-info__section-title">
                #{msg["myAccContactInfo"]}
            </div>
            <div class="account-info__section">
                <div class="account-info__contact-info">
                    <span class="account-info__section-info-line">
                        #{user.firstName} #{user.lastName}
                    </span>
                    <span class="account-info__section-info-line">
                        #{user.email}
                    </span>
                    <div class="account-info__section-info-line">
                        #{user.homePhone}
                    </div>
                </div>
            </div>

            <div class="account-info__section-title">
                #{msg["myAccBillingInfo"]}
            </div>
            <div class="account-info__section">
                <div class="account-info__contact-info">
                    <span class="account-info__section-info-line">
                        #{user.firstName} #{user.lastName}
                    </span>
                    <span class="account-info__section-info-line">
                        #{user.address1} #{user.city}
                    </span>
                    <span class="account-info__section-info-line">
                        #{user.province}, #{user.postalCode}
                    </span>

                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>