<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <!-- IF NO ITEMS IN ORDER REDIRECT TO SHOPPING CART -->
            <f:viewAction action="#{checkoutBean.redirectToCart}" if="#{checkoutBean.order.orderItems.size() == 0}" />
        </f:metadata>

        <!-- INCLUDE A JS LIBRARY FOR A BEAUTIFUL CREDIT CARD -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.4.0/card.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/card/2.4.0/card.min.js"/>

        <!-- SCRIPT TO ACTIVATE THE BEAUTIUFL CREDIT CARD -->
        <h:outputScript library="js" name="load_credit_card.js" />

        <h:outputStylesheet name="css/pages/checkout.css"/>
    </ui:define>

    <ui:define name="content">
        <h2 class="title title--centered">#{msg["checkoutCheckout"]}</h2>
        <div class="checkout">
            <h:form styleClass="checkout__form js-checkout-form">
                <div class="checkout__user-info">
                    <div class="checkout__user-info-title">
                        #{msg["checkoutBilling"]}
                    </div>
                    <div class="checkout__user-info-data">
                        <div class="checkout__user-info-name">
                            #{checkoutBean.order.user.firstName} #{checkoutBean.user.lastName}
                        </div>
                        <div class="checkout__user-info-phone">
                            #{checkoutBean.order.user.homePhone}
                        </div>
                        <div class="checkout__user-info-address">
                            #{checkoutBean.order.user.address1}, #{checkoutBean.user.city},
                            #{checkoutBean.order.user.province}, #{checkoutBean.user.postalCode}
                        </div>
                    </div>
                </div>
                <div class="checkout__payment-info">
                    <div class="checkout__payment-info-title">
                        #{msg["checkoutPayment"]}
                    </div>
                    <div class="checkout__card-placeholder js-checkout-cc-card"/>
                    <div class="checkout__payment-info-data">
                        <div class="input checkout__cc_number_input">
                            <h:outputLabel class="input__label" for="ccNumberInput">
                                #{msg["checkoutCcNum"]}
                            </h:outputLabel>
                            <h:inputText id="ccNumberInput"
                                         binding="#{ccNumberInput}"
                                         styleClass="input__field js-cc-number #{ccNumberInput.valid ? '' : 'input__field--invalid'}"
                                         type="text"
                                         required="true">
                                <f:validator validatorId="creditCardValidator" />
                            </h:inputText>
                        </div>

                        <div class="input checkout__cc_exp_input">
                            <h:outputLabel class="input__label" for="ccExpInput">
                                #{msg["checkoutCcExp"]}
                            </h:outputLabel>
                            <h:inputText id="ccExpInput"
                                         binding="#{ccExpInput}"
                                         styleClass="input__field js-cc-exp #{ccExpInput.valid ? '' : 'input__field--invalid'}"
                                         type="text"
                                         required="true"/>
                        </div>

                        <div class="input checkout__cc_name_input">
                            <h:outputLabel class="input__label" for="ccNameInput">
                                #{msg["checkoutCcName"]}
                            </h:outputLabel>
                            <h:inputText id="ccNameInput"
                                         binding="#{ccNameInput}"
                                         styleClass="input__field js-cc-name #{ccNameInput.valid ? '' : 'input__field--invalid'}"
                                         type="text"
                                         required="true"/>
                        </div>

                        <div class="input checkout__cc_cvv_input">
                            <h:outputLabel class="input__label" for="ccCvvInput">
                                #{msg["checkoutCvv"]}
                            </h:outputLabel>
                            <h:inputText id="ccCvvInput"
                                         binding="#{ccCvvInput}"
                                         styleClass="input__field js-cc-cvv #{ccCvvInput.valid ? '' : 'input__field--invalid'}"
                                         type="text"
                                         required="true"/>
                        </div>
                    </div>
                </div>

                <div class="checkout__place-order">
                    <h:commandButton styleClass="button button--dark button--medium button--centered"
                                     value="#{msg['checkoutPlaceOrder']}"
                                     action="#{checkoutBean.placeOrder}">
                        <f:ajax execute="@form" render="ccNumberInput ccExpInput ccNameInput ccCvvInput"/>
                    </h:commandButton>
                </div>

            </h:form>
            <div class="cart cart--mini checkout__order-summary">
                <div class="cart__items">
                    <ui:repeat value="#{checkoutBean.order.orderItems}" var="orderItem">
                        <div class="cart__item">
                            <div class="cart__item-image">
                                <h:graphicImage url="/images/#{orderItem.item.picturePath}"
                                                alt="Item"/>
                            </div>

                            <div class="cart__item-title">
                                <h:outputText value="#{orderItem.item.name}"/>
                            </div>

                            <div class="cart__item-price">
                                <h:outputText value="#{orderItem.price}"/> $
                            </div>
                        </div>
                    </ui:repeat>
                </div>

                <div class="cart__totals">
                    <div class="cart__subtotal cart__subtotal--label">
                        #{msg["cartSubtotal"]}:
                    </div>

                    <div class="cart__subtotal cart__subtotal--value">
                        <h:outputText value="#{checkoutBean.order.subtotal}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>

                    <div class="cart__taxes cart__taxes--label">
                        #{msg["cartTaxes"]}:
                    </div>

                    <div class="cart__taxes cart__taxes--value">
                        <h:outputText value="#{checkoutBean.order.taxes}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>

                    <div class="cart__grand-total cart__grand-total--label">
                        #{msg["cartGrandTotal"]}:
                    </div>

                    <div class="cart__grand-total cart__grand-total--value">
                        <h:outputText value="#{checkoutBean.order.grandTotal}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
</html>