<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/myAccountTemplate.xhtml">

    <ui:define name="my-account-content">
        <div class="account-info">
            <div class="account-info__title">
                #{msg["myAccMyOrders"]}
            </div>
            <p class="account-info__explanation">
                #{msg["myAccMyOrdersHelp"]}
            </p>

            <ui:repeat value="#{user.orders}" var="order">
                <div class="my-orders__order-title">
                    <div class="my-orders__order-number">
                        #{msg["myAccOrder"]} ##{order.orderId}
                    </div>
                    <div class="my-orders__order-date">
                        <h:outputText value="#{order.timestamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </div>
                </div>
                <div class="my-orders__order">
                    <div class="cart cart--my-order">
                        <div class="cart__items">
                            <ui:repeat value="#{order.orderItems}" var="orderItem">
                                <div class="cart__item">
                                    <div class="cart__item-image">
                                        <h:graphicImage url="/images/#{orderItem.item.picturePath}"
                                                        alt="Item"/>
                                    </div>

                                    <div class="cart__item-title">
                                        <h:outputText value="#{orderItem.item.name}"/>
                                    </div>

                                    <div class="cart__item-type">
                                        (<h:outputText value="#{orderItem.item.itemType}"/>)
                                    </div>

                                    <div class="cart__item-price">
                                        <h:outputText value="#{orderItem.price}"/> $
                                    </div>

                                    <div class="cart__download-item-btn">
                                        <h:form>
                                            <h:commandLink action="#{myAccountBean.downloadTrack}"
                                                           styleClass="remove-from-cart">
                                                <h:graphicImage url="/resources/icons/download.svg"/>
                                            </h:commandLink>
                                        </h:form>
                                    </div>
                                </div>
                            </ui:repeat>
                        </div>

                        <div class="cart__totals">
                            <div class="cart__subtotal cart__subtotal--label">
                                #{msg["cartSubtotal"]}:
                            </div>

                            <div class="cart__subtotal cart__subtotal--value">
                                <h:outputText value="#{order.subtotal}">
                                    <f:convertNumber maxFractionDigits="2"/>
                                </h:outputText>$
                            </div>

                            <div class="cart__taxes cart__taxes--label">
                                #{msg["cartTaxes"]}:
                            </div>

                            <div class="cart__taxes cart__taxes--value">
                                <h:outputText value="#{order.taxes}">
                                    <f:convertNumber maxFractionDigits="2"/>
                                </h:outputText>$
                            </div>

                            <div class="cart__grand-total cart__grand-total--label">
                                #{msg["cartGrandTotal"]}:
                            </div>

                            <div class="cart__grand-total cart__grand-total--value">
                                <h:outputText value="#{order.grandTotal}">
                                    <f:convertNumber maxFractionDigits="2"/>
                                </h:outputText>$
                            </div>
                        </div>
                    </div>
                </div>
            </ui:repeat>
        </div>
    </ui:define>
</ui:composition>
</html>