<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <!-- IF ORDER NOT COMPLETE (E.G. USER REFRESHES THE ORDER CONFIRMATION)
                    REDIRECT THE USER TO THE SHOPPING CART-->
            <f:viewAction action="#{checkoutBean.redirectToCart}" if="#{checkoutBean.orderComplete == false}" />
        </f:metadata>

        <h:outputStylesheet name="css/pages/order_confirmation.css"/>
    </ui:define>

    <ui:define name="content">
        <h2 class="title">#{msg['orderConfirmConfirm']}</h2>
        <p class="order-confirm__parag">
            #{msg['orderConfirmYourOrder']}
            (#<h:outputText styleClass="order-confirm__order-id" value="#{checkoutBean.order.orderId}"/>)
            #{msg['orderConfirmSuccess']}
        </p>
        <p class="order-confirm__parag">
            #{msg['orderConfirmBilled']}
            <h:outputText styleClass="order-confirm__total" value="#{checkoutBean.order.grandTotal}">
                <f:convertNumber type="currency" currencySymbol="$"/>
            </h:outputText>.
        </p>
        <p class="order-confirm__parag">
            #{msg['orderConfirmEmailSent']}
            <h:outputText styleClass="order-confirm__email" value="#{checkoutBean.order.user.email}"/>.
        </p>
        <p class="order-confirm__parag">
            #{msg['orderConfirmHelp']}
        </p>
        <h:link styleClass="button button--small order-confirm__to-home-button"
                outcome="/home.xhtml">
            #{msg['orderConfirmHome']}
        </h:link>

        <!-- FOR SOME REASON AJAX POSTBACK KEEPS THE SCREEN ON THE SAME LOCATION AS IT WAS PRIOR TO
             THE FORM SUBMISSION THEREFORE FORCING THE SCREEN TO SCROLL UP WITH JAVASCRIPT -->
        <script>
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
        </script>
    </ui:define>
</ui:composition>
</html>