@import 'variables';

html{
  height: 100%;
}

body{
  height: 100%;
}

#managerWrapper{
  height: 100%;
  display: flex;
  flex-direction: column;

  .dashNav{
    background-color: $dark_navy_blue;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: .5rem;

    #logoImg{
      float: left;
      height: 70%;
      margin-top: .5rem;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    #logoTxt{
      color: white;
      letter-spacing: 1px;
      font-size: 25px;
      font-weight: lighter;
      font-family: "Calibri Light", sans-serif;
      text-transform: uppercase;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .userSide{
      float: right;
      margin-right: 1.5rem;

      #loginIcon{
        margin-left: .8rem;
        margin-right: 1.1rem;
        margin-top: 1rem;
        float: left;
      }

      #managerName{
        color: white;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .dropDownContent{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 190px;
        box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
        z-index: 1;

        a{
          font-family: "Calibri Light", sans-serif;
          color: black;
          padding: 0 16px;
          text-decoration: none;
          display: block;
        }

        a:hover{
          background-color: #ddd;
        }

      }

    }

    .userSide:hover{
      cursor: pointer;

      #managerName{
        text-decoration: underline;
      }

      .dropDownContent{
        display: block;
      }
    }
  }

  #dashContent {
    flex-grow: 1;
    display: flex;

    .sidebar {
      background-color: $light_blue;
      float: left;
      height: 100%;
      width: 13rem;

      #pageLinksList {
        list-style-type: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 2;

        .pageLinksItem {
          padding-left: 1.4rem;
          padding-top: .7rem;
          padding-bottom: .7rem;
          border-top: lightgray 1px solid;
          width: 100%;
          font-family: "Calibri Light", sans-serif;
          font-size: 22px;
          transition: 150ms ease;

          a{
            display: block;
          }

        }

        .pageLinksItem:hover {
          background-color: $lightened_light_blue;
          cursor: pointer;
        }

        #chosenItem {
          background-color: $darkened_light_blue;
        }

        #chosenItem:hover {
          background-color: $lightened_light_blue;
          cursor: pointer;
        }

      }

    }
  }
}

.management-container {
  height: 100%;
  width: 90%;
  padding: 25px;
}
