/* 
    Created on : 1-Feb-2019, 6:05:19 PM
    Author     : Danny
*/
@import '../mixins/media_queries';
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    /*min-height: 100vh;*/
    /* TEMP */
    font-size: 16px;
    font-family: sans-serif;
}


a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: none;
    }

    &:hover, &:visited, &:active, &:focus{
        color: black;
    }
}

.container{
    min-height: 90vh;
    margin: 15px 20px;

    @include breakpoint(sm){
        margin: 15px 50px;
    }
}

div.arrow {
    width: 5vmin;
    height: 5vmin;
    box-sizing: border-box;
    position: relative;
    transform: rotate(135deg);
    top: -20px;
    cursor: pointer;

    transition: all .5s ease-in-out;


    &:before, &:after{
        width: 100%;
        height: 100%;
        content: '';
        border-style: solid;
        border-color: inherit;
    }


    &:before {
        border-width: .6vmin .6vmin 0 0;
        display: block;
        transform-origin: 100% 0;
    }

    &:after {
        float: left;
        position: relative;
        top: -100%;
        border-width: 0 .6vmin 0 0;
        transform-origin: 100% 0;
    }
    
    &.arrow_up{
        transform: rotate(-45deg);
    }

}