/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Feb-2019, 10:16:51 AM
    Author     : Danny
*/

// COLORS
$dark_navy_blue: #232f3f;
$light_navy_blue: #303b4a;
$light_gray: #93979c;
$very_very_light_gray: #f5f5f5;
$very_light_gray: #dedede;
$start_gray: #c5c5c5;
$star_yellow: #ebdb2c;
$orange: #ff7e00;
$white: white;
$light_blue: #d3dee3;
$darkened_light_blue: #c2ccd1;
$lightened_light_blue: #f2f2f2;
$correct_green: #0BAF6D;
$wrong_red: red;
$dark_gray: #454545;
$blue: #4496f6;

// FONTS
$standard_font: sans-serif;

$container_max_width: 1280px;

/*From cart.scss*/
$cart_table_header_color: #E8E3E3;
