<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">

<ui:composition>

    <!-- ALBUM TRACK LIST -->
    <ui:repeat var="track" value="#{itemDetailsBean.item.trackList}">
        <h:link class="link hover-effect display-block margin-top" value="♪ #{track.name}"
                outcome="/storefront/pages/public/itemDetails?id=#{track.itemId}"/>
    </ui:repeat>

    <!-- RELEASE DATE -->
    <div class="display-block margin-top">
        <h:outputText value="#{msg.releaseDate}:"/><h:outputText value="&#160;"/>
        <h:outputText value="#{itemDetailsBean.item.releaseDate}"/>
    </div>

    <!-- GENRE LIST-->
    <div class="margin-top">
        <h:outputText value="#{msg.genre}:"/><h:outputText value="&#160;"/>
        <ui:repeat value="#{itemDetailsBean.item.categoryList}" var="genre">
            #{genre.name}#{not loop.last ? ', ' : ' ' }
        </ui:repeat>
    </div>

    <!-- LABEL -->
    <div class="margin-horizontal">
        <h:outputText value="#{msg.label}:"/><h:outputText value="&#160;"/>
        <h:outputText value="#{itemDetailsBean.item.label}"/>
    </div>

</ui:composition>
</html>