<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">

    <ui:composition>

        <!-- TOTAL TRACK OUTPUT -->
        <div class="input">
            <label class="input__label" for="label">
                Total Tracks: 
                <h:outputText value="#{(not empty inventoryEditorBean.album)? inventoryEditorBean.album.trackList.size() : '0'}"/>
            </label>
        </div>        

        <!-- LABEL INPUT -->
        <div class="input">
            <label class="input__label" for="label">
                Label
            </label>
            <h:inputText id="label"
                         styleClass="input__field"
                         value="#{inventoryEditorBean.album.label}"
                         required="true"
                         requiredMessage="This input is required!">
            </h:inputText>
            <h:message for="label" style="color: red;"/>
        </div>

        <!-- RELEASE DATE INPUT -->
        <div class="input">
            <label class="input__label" for="releaseDate">
                Release Date
            </label>
            <h:inputText id="releaseDate"
                         styleClass="input__field"
                         value="#{inventoryEditorBean.album.releaseDate}"
                         required="true"
                         requiredMessage="This input is required!"
                         converterMessage="The date should have the yyyy-mm-dd format"
                         p:placeholder="yyyy-mm-dd" >
                <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:inputText>
            <h:message for="releaseDate" style="color: red;"/>
        </div>

        <!-- MAIN ARTIST INPUT -->
        <div class="input">
            <label class="input__label" for="artistInput">
                Artist
            </label>
            <div class="input_group_expand">
                <h:inputText id="artistInput"
                             styleClass="input__field"
                             value="#{inventoryEditorBean.album.artist.name}"
                             disabled="true"
                             required="true"
                             requiredMessage="This input is required!">
                </h:inputText>
                <div id="plus_expand_artist_album" class="arrow" />
            </div>
            <h:message for="artistInput" style="color: red;"/>

            <div id="artist_album_table">
                <div class="admin_data__table-wrapper js-dataTable-wrapper">
                    <h:dataTable styleClass="dataTableNoPage hover stripe order-column row-border"
                                 value="#{artistListBean.artistList}"
                                 var="artist" >

                        <!--ARTIST ID--> 
                        <h:column>
                            <f:facet name="header">Artist ID</f:facet>
                            <h:outputText value="#{artist.artistId}"/>
                        </h:column>

                        <!--ARTIST NAME--> 
                        <h:column>
                            <f:facet name="header">Artist Name</f:facet>
                            <h:outputText value="#{artist.name}"/>
                        </h:column>

                        <!--ACTION BUTTONS--> 
                        <h:column>
                            <f:facet name="header">Actions</f:facet>

                            <div class="admin_data__actions">
                                <!--ARCHIVE BUTTON--> 
                                <h:commandButton styleClass="button" value="Set" action="#{inventoryEditorBean.album.setArtist(artist)}">
                                    <f:ajax execute="@this" render=":inventory_form:artistInput"/>
                                </h:commandButton>
                            </div>

                        </h:column>

                    </h:dataTable>
                </div>
            </div>
        </div>
    </ui:composition>
</html>
