<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">>
    <ui:composition>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"></link><!-- TEMP-->

        <!--ADD REVIEWS IF AUTH-->
        <h:panelGroup rendered="#{not empty reviewBean.user}">
        <div class="add-review">
            <h:outputText class="title review-title" value="#{msg.addReviewTitle}"/>
            <h:form id="review-form" >
                <h:selectOneMenu class="padding-horizontal add-review-stars" value="#{reviewBean.star}">
                    <f:selectItem itemValue = "1" itemLabel = "#{msg.star1}" />
                    <f:selectItem itemValue = "2" itemLabel = "#{msg.star2}" />
                    <f:selectItem itemValue = "3" itemLabel = "#{msg.star3}" />
                    <f:selectItem itemValue = "4" itemLabel = "#{msg.star4}" />
                    <f:selectItem itemValue = "5" itemLabel = "#{msg.star5}" />
                </h:selectOneMenu>
                <h:inputTextarea validatorMessage="#{msg.fieldToLong}" class="display-block margin-horizontal text-area-review" 
                                 cols="100" rows="10" required="true" id="comment" value="#{reviewBean.comment}">
                    <f:validateLength maximum="2000" />
                </h:inputTextarea>
                <h:commandButton class="button submit_button padding-horizontal"
                                 id="submit-button"
                                 value="#{msg.submitBtn}"
                                 action="#{reviewBean.addReview(itemDetailsBean.itemId)}" 
                                 >
                    <f:ajax execute="review-form" render="review-form comment"/>
                </h:commandButton>
                <h:panelGroup rendered="#{reviewBean.successfullySubmitted}">
                    <h:outputText class="message successMessage" value="#{msg.msgSubmitted}" id ="confirm" />
                </h:panelGroup>
                <h:message for="comment" styleClass="errorMessage" showDetail="true" />
            </h:form>
        </div>
       </h:panelGroup>
        
        <h:panelGroup rendered="#{empty reviewBean.user}">
             <div class="add-review">
                <h:outputText class="title review-title" value="#{msg.addReviewTitle}"/>
                   <h:button class="button submit_button" value="#{msg.loginOrRegister}" outcome="/storefront/pages/public/login?faces-redirect=true"/>
            </div>
        </h:panelGroup>
        
        
        <!-- READ REVIEWS -->
        <div class="read-review" id="read-all-reviews">
            <h:panelGroup id="review-not-empty" rendered="#{itemDetailsBean.countApproved() != 0}">
                <h:outputText class= "title" value="#{msg.viewReviewTitle} (#{itemDetailsBean.countApproved()})"/>
                <ui:repeat var="review" value="#{itemDetailsBean.item.reviewList}">
                    <h:panelGroup layout="block" styleClass="review-container" rendered="#{review.isApproved}">
                        <div><h:outputText class= "reviwer" value="#{review.userId.firstName} #{review.userId.lastName}"/>
                            <h:outputText value="&#160;"/> 
                            <h:outputText value="• #{review.starRating}"/>
                            <h:graphicImage class="star-image-width" value="/resources/images/review_star_yellow.svg"></h:graphicImage>
                            <h:outputText value="&#160;"/> 
                            <h:outputText class="date-posted" value="#{review.reviewDate}"/> 

                        </div><p class="review-comment margin-horizontal">#{review.comment}</p>
                    </h:panelGroup>
                </ui:repeat>
            </h:panelGroup>
            <h:panelGroup class="center" id="review-empty" rendered="#{itemDetailsBean.countApproved() == 0}">
                <h:outputText class="title" value="#{msg.noReviewTitle}"/>
            </h:panelGroup>
        </div>
    </ui:composition>
</html>
