<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">

    <ui:composition>       

        <!-- SONGWRITERS INPUT -->
        <div class="input">
            <label class="input__label" for="songwriters">
                Songwriters
            </label>
            <h:inputText id="songwriters"
                         styleClass="input__field"
                         value="#{inventoryEditorBean.track.songwriters}"
                         required="true"
                         requiredMessage="This input is required!">
            </h:inputText>
            <h:message for="songwriters" style="color: red;"/>
        </div>

        <!--TRACK NUM-->
        <div class="input">
            <label class="input__label" for="trackNum">
                Track Number #
            </label>
            <h:inputText id="trackNum"
                         styleClass="input__field"
                         value="#{inventoryEditorBean.track.trackNum}"
                         required="true"
                         requiredMessage="This input is required!"
                         converterMessage="This is not a valid number">
                <f:convertNumber integerOnly="true"/>
            </h:inputText>
            <h:message for="trackNum" style="color: red;"/>
        </div>

        <!-- LENGTH INPUT -->
        <div class="input">
            <label class="input__label" for="length">
                Length
            </label>
            <h:inputText id="length"
                         styleClass="input__field"
                         value="#{inventoryEditorBean.track.length}"
                         required="true"
                         requiredMessage="This input is required!"
                         validatorMessage="This input should look like 00:00:00">
                <f:validateRegex pattern="^\d{1,2}:\d{2}:\d{2}$"/>
            </h:inputText>
            <h:message for="length" style="color: red;"/>
        </div>

        <!-- ALBUM INPUT -->
        <div class="input">
            <label class="input__label" for="artistInput">
                Album
            </label>

            <div  class="input_group_expand">
                <h:inputText id="albumInput"
                             styleClass="input__field"
                             value="#{(not empty inventoryEditorBean.track.album)?inventoryEditorBean.track.album.name:''}"
                             disabled="true">
                </h:inputText>
                <h:commandButton styleClass="button" value="-" action="#{inventoryEditorBean.removeTrackAlbum()}">
                    <f:ajax execute="@this" render="albumInput"/>
                </h:commandButton>
                <div id="plus_expand_album_track" class="arrow" />
            </div>

            <div id="album_track_table">
                <div class="admin_data__table-wrapper js-dataTable-wrapper">
                    <h:dataTable styleClass="dataTableNoPage hover stripe order-column row-border"
                                 value="#{albumListBean.albumList}"
                                 var="album" >

                        <!--Album ID--> 
                        <h:column>
                            <f:facet name="header">Album ID</f:facet>
                            <h:outputText value="#{album.itemId}"/>
                        </h:column>

                        <!--Album NAME--> 
                        <h:column>
                            <f:facet name="header">Album Name</f:facet>
                            <h:outputText value="#{album.name}"/>
                        </h:column>

                        <!--ACTION BUTTONS--> 
                        <h:column>
                            <f:facet name="header">Actions</f:facet>
                            <div class="admin_data__actions">
                                <!--ARCHIVE BUTTON--> 
                                <h:commandButton styleClass="button" value="Set" action="#{inventoryEditorBean.track.setAlbumId(album)}">
                                    <f:ajax execute="@this" render=":inventory_form:albumInput"/>
                                </h:commandButton>
                            </div>

                        </h:column>

                    </h:dataTable>
                </div>
            </div>
        </div>

        <!-- ARTIST INPUT -->
        <div class="input">
            <label class="input__label">
                Artist
            </label>

            <div class="button_group_spacing_wrap">
                <h:panelGroup styleClass="button_listing_group" id="artist_button_list" layout="block">
                    <ui:repeat value="#{inventoryEditorBean.track.artistList}" var="artist">
                        <h:commandButton class="button" value="#{artist.name}" action="#{inventoryEditorBean.track.artistList.remove(artist)}">
                            <f:ajax execute="@this" render=":inventory_form:artist_button_list" />
                        </h:commandButton>
                    </ui:repeat>
                </h:panelGroup>
                <div id="plus_expand_artist_track" class="arrow"/>
            </div>

            <div id="artist_track_table">
                <div class="admin_data__table-wrapper js-dataTable-wrapper">
                    <h:dataTable styleClass="dataTableNoPage hover stripe order-column row-border"
                                 value="#{artistListBean.artistList}"
                                 var="artist" >

                        <!--ARTIST ID--> 
                        <h:column>
                            <f:facet name="header">Artist ID</f:facet>
                            <h:outputText value="#{artist.artistId}"/>
                        </h:column>

                        <!--ARTIST NAME--> 
                        <h:column>
                            <f:facet name="header">Artist Name</f:facet>
                            <h:outputText value="#{artist.name}"/>
                        </h:column>

                        <!--ACTION BUTTONS--> 
                        <h:column>
                            <f:facet name="header">Actions</f:facet>

                            <div class="admin_data__actions">
                                <!--ARCHIVE BUTTON--> 
                                <h:commandButton styleClass="button" value="Add" action="#{inventoryEditorBean.track.artistList.add(artist)}">
                                    <f:ajax execute="@this" render=":inventory_form:artist_button_list"/>
                                </h:commandButton>
                            </div>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </div>
    </ui:composition>
</html>
