<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">
<ui:composition>

    <!-- ALBUM -->
    <div class="margin-top">
        <c:if test="#{itemDetailsBean.item.album != null}">
            <h:outputText value="#{msg.album}:"/><h:outputText value="&#160;"/>
            <h:link class="link hover-effect" value="#{itemDetailsBean.item.album.name}"
                    outcome="/storefront/pages/public/itemDetails?id=#{itemDetailsBean.item.album.itemId}"/>
        </c:if>
    </div>

    <!-- RELEASE DATE -->
    <div class="margin-top">
        <h:outputText value="#{msg.releaseDate}:"/><h:outputText value="&#160;"/>
        <h:outputText value="#{itemDetailsBean.item.dateAdded}"/>
    </div>

    <!-- GENRE -->
    <div class="margin-top">
        <h:outputText value="#{msg.genre}:"/><h:outputText value="&#160;"/>
        <ui:repeat value="#{itemDetailsBean.item.categoryList}" var="genre">
            #{genre.name}#{not loop.last ? ', ' : ' ' }
        </ui:repeat>
    </div>

    <!-- SONG WRITERS -->
    <div class="margin-horizontal song-writers">
        <h:outputText value="#{msg.songWriters}:"/><h:outputText value="&#160;"/>
        <h:outputText value="#{itemDetailsBean.item.songwriters}"/>
    </div>
</ui:composition>
</html>