.admin_data {
  &__toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 15px;
    background-color: $very_very_light_gray;
    border-top: 1px solid $start_gray;
    border-bottom: 1px solid $start_gray;
  }

  &__table-wrapper {
    // Do not display JQuery DataTables in the beginning.
    // That way we don't see the regular HTML table before the enhanced
    // table is shown. After the the JQuery DataTable is initialised
    // it will display itself using javascript.
    display: none;
  }

  &__form {
    max-width: 550px;
    margin: auto;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
  }
}