
///
/// A Generic reusable button
///

.button {

  // -------------------------
  // LOCAL MIXINS
  // -------------------------

  /// Helper mixin to set the text color of the button.
  /// Since a button could also be a link, this mixin helps
  /// to override link specific states
  ///
  /// @param {Color} $text-color - The color of the text in the button
  /// @param {Color} $hover-text-color [$text-color] - The color of the text in the
  ///                         button when it is hovered (optional)
  @mixin set-text-color($text-color, $hover-text-color: $text-color) {
    color: $text-color;

    &:hover {
      color: $hover-text-color;
    }

    // In the case the button is a link, override link specific states
    &:visited,
    &:active,
    &:focus {
      color: $text-color;
    }
  }

  // -------------------------
  // BLOCK BASE STYLES
  // -------------------------

  display: block;
  border-radius: 100px;
  background-color: $orange;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;

  // Remove text decoration on hover for links
  &:hover {
    text-decoration: none;
  }

  @include set-text-color(
          $text-color: $white,
          $hover-text-color: $white
  );

  // -------------------------
  // BLOCK MODIFIERS
  // -------------------------

  // Modifier to make the button dark
  &--dark {
    background-color: $dark_gray;

    @include set-text-color(
            $text-color: $white,
            $hover-text-color: $white
    );
  }

  // Modifier to center the button
  &--centered {
    margin: auto;
  }

  // Modifier for small length button
  &--small {
    width: 100%;
    max-width: 200px;
  }

  // Modifier for medium length button
  &--medium {
    font-size: 1.1em; // Text should slightly be bigger for this button size
    width: 100%;
    max-width: 400px;
  }

  // Modifier to make button as long as possible (so it fits the parent)
  &--longest {
    width: 100%;
  }
}

