///
/// A component representing the shopping cart
///

.cart {

  // If the cart is too long, there is a lot of space between the name and the price
  max-width: 1000px;

  // If margin: auto; is set to all margins, the cart in checkout will be
  // centered vertically
  margin-right: auto;
  margin-left: auto;

  // -------------------------
  // Cart Column Headers
  // -------------------------

  &__column-headers {
    display: none; // On small screens the headers are hidden

    // The columns headers appear on bigger screens
    @include breakpoint(sm) {
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: 90px 1fr 100px 25px;
      grid-template-areas: ". name price .";
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
  }

  &__column-header {
    text-transform: uppercase;
  }

  &__column-header--name {
    grid-area: name;
  }

  &__column-header--price {
    grid-area: price
  }

  // -------------------------
  // Cart Item
  // -------------------------

  &__item {
    display: grid;
    grid-template-columns: 90px 1fr 25px;
    grid-template-rows: auto 1fr;
    grid-gap: 10px 15px;
    grid-template-areas: "image title remove" "image price remove";
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:last-child {
      border-bottom: none;
    }

    // Changing the layout of the grid to match the header columns
    // that appear on bigger screens
    @include breakpoint(sm) {
      grid-template-columns: 90px 1fr 100px 25px;
      grid-template-rows: 1fr;
      grid-template-areas: "image title price remove";
      align-items: center;
    }
  }

  &__item-image {
    grid-area: image;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__item-title {
    grid-area: title;
    font-weight: bold;
    
    & a:hover{
      text-decoration: underline;
    }
  }

  &__item-type {
    grid-area: type;
  }

  &__item-price {
    grid-area: price;
  }

  &__remove-item-btn {
    grid-area: remove;
    align-self: center;
  }

  // -------------------------
  // Cart Totals
  // -------------------------

  &__totals {
    display: grid;
    justify-items: end;
    grid-row-gap: 10px;
    grid-template-columns: 1fr auto 150px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            ". subtotal-label subtotal-value"
            ". taxes-label taxes-value"
            ". grand-total-label grand-total-value"
            ". checkout checkout";

    padding-top: 15px;
    font-size: 1.2em;
  }

  &__grand-total {
    font-size: 1.2em;
  }

  &__subtotal--label {
    grid-area: subtotal-label;
  }

  &__subtotal--value {
    grid-area: subtotal-value;
  }

  &__taxes--label {
    grid-area: taxes-label;
  }

  &__taxes--value {
    grid-area: taxes-value;
  }

  &__grand-total--label {
    grid-area: grand-total-label;
  }

  &__grand-total--value {
    grid-area: grand-total-value;
  }

  &__checkout {
    grid-area: checkout;
  }

  // -------------------------
  // Cart Variation Shown in Checkout
  // -------------------------

  // The cart in the checkout is always a "small" cart, which closely
  // resembles the normal cart on the smallest screen
  // However, it should be noted that it is not possible to unset media queries
  // (which are defined in the original cart) that make the cart "bigger".
  // Therefore, it is needed to explicitly override the properties that are changed
  // with the media queries (if they are should be at their default value,
  // property: initial; is used)
  &--mini {
    .cart__item {
      display: grid;
      grid-template-columns: 60px auto 1fr auto;
      grid-template-rows: max-content;
      grid-gap: 10px 15px;
      grid-template-areas:
              "image title . price";
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &:last-child {
        border-bottom: none;
      }
    }

    .cart__totals {
      font-size: 0.9em; // Making the text slightly smaller

      // Making the distance between the labels and values dynamic
      grid-template-columns: auto 1fr 80px;
      grid-template-rows: auto auto auto;

      // Changing the position of the labels and values to have a dynamic
      // space between them
      grid-template-areas:
              "subtotal-label . subtotal-value"
              "taxes-label . taxes-value"
              "grand-total-label . grand-total-value"
              "checkout . checkout";
    }

    // Positioning all the labels to the left and all values to the right

    .cart__subtotal--label,
    .cart__taxes--label,
    .cart__grand-total--label {
      justify-self: start;
    }

    .cart__subtotal--value,
    .cart__taxes--value,
    .cart__grand-total--value
    {
      justify-self: end;
    }
  }

  // -------------------------
  // Cart Variation Shown in Order Management
  // -------------------------

  &--mini-modifiable {
    .cart__title {
      font-size: 1.1em;
      margin-top: 15px;
    }

    .cart__item {
      display: grid;

      grid-template-columns: 90px 1fr 100px 25px;
      grid-template-rows: max-content;
      grid-template-areas: "image title price remove";
      align-items: center;
      grid-gap: 10px 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--my-order {
    margin-bottom: 20px;

    .cart__item {
      display: grid;

      grid-template-columns: 90px max-content 1fr 100px 25px;
      grid-template-rows: max-content;
      grid-template-areas: "image title type price download";
      align-items: center;
      grid-gap: 10px 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: none;

      &:last-child {
        border-bottom: none;
      }
    }

    .cart__totals {
      font-size: 1em;
    }

    .cart__download-btn {
      grid-area: download;
      align-self: center;
    }
  }
}