
/* footer test */

@import '../mixins/media_queries';

.darker{
    background-color: #252E3F;
}

.main_footer, .credits{
    padding: 0 20px;
    @include breakpoint(sm){
        padding: 0 50px;
    }
}

footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    line-height: 1.3;

    position: relative;



    .main_footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;

        color: $white;
        padding-top: 20px;
        padding-bottom: 20px;

        @include breakpoint(sm){
            flex-direction: row;
            justify-content: space-between;
        }

        .left{
            display: flex;
            flex-direction: column;

            @include breakpoint(md){
                flex-direction: row;
            }

            .footer_links{
                padding: 50px 0;

                @include breakpoint(md){
                    padding: 0;
                    padding-left: 50px;
                }
            }
        }
    }

    p, .link{
        color: $light_gray;
    }

    .credits{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $light_navy_blue;
        margin: auto 0;
        font-size: 10px;

        .smallImages {
            width:20px;
            height:20px;
        }
    }
}
