.icon_button {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;

  // Remove default button styles
  border: none;
  background-color: transparent;

  // Remove button
  &--remove {
    background-image: url("\#{resource['/icons/remove.svg']}");
  }

  // Edit button
  &--edit {
    background-image: url("\#{resource['/icons/edit.svg']}");
  }

  // Modifier to center
  &--center {
    margin: auto;
  }
}