///
/// A component representing the shopping cart
///

.input {
  &__label {
    display: block;
    color: rgba($dark_gray, 0.9);
    font-weight: 600;
    line-height: 1.6;
    font-size: 0.9em;
    margin-bottom: 0.375em;
  }

  &__field {
    background-color: $white;
    border: 1px solid $very_light_gray;
    box-shadow: inset 0 1px 1px $very_light_gray;
    color: $dark_gray;
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: .75rem 1rem;
    transition: border 150ms ease-out;

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 3px rgba($blue, 0.6), inset 0 1px 1px $very_light_gray;
    }

    &:disabled {
      background-color: $very_very_light_gray;
    }

    &--invalid {
      border: 1px solid $wrong_red;
    }
  }

  &__error-message {
    color: $wrong_red;
  }
}