/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Mar-2019, 10:35:02 AM
    Author     : Danny
*/

@import '../mixins/media_queries';

.unit{
    width: 50%;

    @include breakpoint(sm){
        width: 33%;
    }

    @include breakpoint(md){
        width: 25%;
    }
    min-width: 25%;

    .album_display{
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0 10px;
        margin-bottom: 40px;


        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
        @include breakpoint(xs){
        padding: 0 25px;            
        }

        .img_container{
            position: relative;
            width: 100%;
            overflow: hidden;
            cursor: pointer;

            .fit_cover{
                width: 100%;
                object-fit: cover;
                position: absolute;
                bottom: 0;

                transition: all .5s;
            }

            &:after{
                content: "";
                display: block;
                padding-bottom: 100%;                    
            }
        }  

        .album_title_link{
            display: block;
            text-align: center;
            font-size: 14px;
            font-size: 1.1em;
            width: 100%;
            max-height: 2.8em;
            margin: 20px 0 5px 0;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover{
                color: $orange;
            }
        }

        #artist{
            font-size: 0.6em;
            padding: 0 0 10px 0;
            color: $light_gray;
            
            @include breakpoint(sm){
                font-size: 0.8em;
            }
        }

        .review_section{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;


            .basic_star{
                width: 13px;
            }
            
            .review_count{
                margin-left: 5px;
                font-size: 0.8em;
                color: $light_gray;
            }
        }

        .prices{
            font-size: 16px;
            font-weight: 500;
            /*margin: 10px 0 10px 0;*/

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            opacity: 1;
            transition: opacity 0.5s;

            &>*{
                padding: 10px;
            }

            .price{
                color: $orange;

                &:before{
                    content: "$";
                }

                &.cancelled_price{
                    color: $light-gray;
                    text-decoration: line-through;
                }
            }


        }

        .button_group{
            display: flex;
            flex-direction: row;

            .button{
                border-radius: 100px;
                background-color: $orange;
                color: $white;
                border: none;
                cursor: pointer;   
                padding: 10px;
            }
            
            .add_to_cart_button{
                padding: 10px;
                margin: 10px;
                min-width: 100px;

                @include breakpoint(sm){
                    min-width: 140px;
                }
                
                &:active{
                    transform: translateY(4px);
                }
            }

            @media (hover: hover){
                position: absolute;
                bottom: -100%;
                opacity: 0;

                transition: opacity 0.5s, bottom 0.5s;


            }

        }

        @media (hover: hover){

            &:hover, &:focus{
                .img_container{
                    .fit_cover{
                        transform: scale(1.2);
                    }
                }

                .button_group{
                    bottom: 0;
                    opacity: 1;
                }

                .prices{
                    opacity: 0;
                }

            }
        }
    }



    .track_list{
        display: none;

        ul{
            list-style-type: none;
            border-bottom: 1px solid $very-light-gray;
            li{
                float: left;
                padding: 10px 20px;
                a{
                    display: block;
                    text-align: center;
                    color: inherit;
                }
            }
        }
    }

    &.active{
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        .album_display{
            width: 40%;
        }

        .track_list{
            width: 60%;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}


.button{
    border-radius: 100px;
    background-color: $orange;
    color: $white;
    border: none;
    cursor: pointer;   
    padding: 10px;
}

.submit_button {
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    background-color: $dark_navy_blue;
}
.home_buttom {
    width: 140px;
    margin: auto;
    border-radius: 100px;
    background-color: $orange;
    color: $white;
    padding: 10px;
    border: none;
}
