/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-Feb-2019, 6:04:37 PM
    Author     : Danny
*/

@import '../mixins/media_queries';

.navbar{
    font-family: sans-serif;
    background-color: $dark_navy_blue;

    .top_section, .mid_section, .bottom_section{
        border-bottom: 1px solid $light_navy_blue;
        padding: 0 50px;
    }

    .top_section{
        font-size: 12px;
        color: $light_gray;
        height: auto;
        padding: 0 50px;

        //flexbox
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between; 
        align-items: center; 
        width: auto;

        .right_container, .canada_only{
            padding: 5px 0;
        }

        .canada_only{
            text-align: center;
        }

        .right_container{
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .lang{
                padding-left: 10px;

                form{
                    display: inline-block;
                }

                .english_lang, .french_lang{
                    border: none;
                    background-color: transparent;
                    color: $light_gray;
                    font-size: 12px;
                    cursor: pointer;
                }

                .english_lang{
                    padding-right: 7px;
                    border-right: 2px solid $light_gray;
                }

                .french_lang{
                    padding-left: 5px;
                }
            }
        }

    }//top_section end

    .mid_section{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;

        @include breakpoint(md){
            flex-direction: row;
        }

        color: $white;

        .logo{
            height: 70px;
            width: 260px;

            @include breakpoint(md){
                margin-right: 20px;
            }
        }

        .midnav_wrapper{
            flex: 2 2 auto;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;    
            width: 100%;

            @include breakpoint(md){
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
            }

            .search_form{
                border-radius: 50px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 100%;
                margin: 30px 0;
                flex: 0 2 auto;
                flex-shrink: 10;

                @include breakpoint(sm){
                    width: 490px;
                }

                & > *{
                    margin: 0;
                    height: 100%;
                    font-size: 12px;
                    padding: 2%;
                    flex: 2 2 auto;
                }

                .input_search{
                    padding-left: 5%;
                    border: none;
                    width: 80%;
                }

                .button_search{
                    border: none;
                    background-color: $orange;
                    width: 20%;
                    color: $white;
                    min-width: 80px;
                }
            }

            div.arrow{
                border-color: $white;
                
                @include breakpoint(sm){
                    display: none;
                }
            }

            .account_link_wrapper{
                display: flex;
            }

            /*Reusables (more than 1 component)*/
            a.user{
                flex: 0 0 auto;
                margin: 0 10px;

                @include breakpoint(lg){
                    margin: 0 20px;

                }
                .nav_user_container{
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;

                    .icon_container{
                        width: 60px;
                        height: 60px;
                        border-radius: 100px;
                        border: 1px solid $white;
                        position: relative;
                        overflow: hidden;

                        img{
                            margin: auto auto;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                        }
                    }

                    .info_container{
                        display: none;
                        @include breakpoint(lg){
                            display: block;
                        }

                        padding-left: 10px;
                        color: $white; 

                        .sub_section{
                            color: $light_gray;
                        }
                    }
                }
            }
        }


    }//mid_section end

    .bottom_section{
        display: none;
        width: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: $white;

        a, a:hover, a:visited, a:active, a:link{
            text-decoration: none;
            color: inherit;
        }

        @include breakpoint(sm){
            display: flex;
            width: auto;
        }

        @include breakpoint(md){
            justify-content: flex-start;
        }

        &.opened{
            display: flex;
            width: auto;
        }

        .nav_tabs_container{
            ul{
                list-style-type: none;
                display: flex;
                align-items: center;
                flex-direction: column;

                @include breakpoint(sm){
                    flex-direction: row;
                }

                li{
                    /*float: left;*/

                    a{
                        display: block;
                        text-align: center;
                        color: inherit;
                        padding: 10px 20px;
                    }

                    .all_genre_tab{
                        background-color: $orange;
                        cursor: pointer;

                        .all_genre_button{
                            .all_genre_tab_top{
                                position: relative;
                                height: 60px;
                                width: 290px;

                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                justify-content: space-between;
                                align-items: center;

                                .all_genre_text{
                                    position: absolute;
                                    left: 10px;
                                    -webkit-touch-callout: none; /* iOS Safari */
                                    -webkit-user-select: none; /* Safari */
                                    -moz-user-select: none; /* Firefox */
                                    -ms-user-select: none; /* Internet Explorer/Edge */
                                    user-select: none;
                                }

                                .hamburger, .hamburger:after, .hamburger:before {
                                    background-color: $white;
                                    position: absolute;
                                    //Dimensions
                                    width: 28px;
                                    height: 2px;
                                    right: 0;

                                    transition: 0.5s;
                                }

                                .hamburger {
                                    right: 10px;
                                    &:before, &:after{
                                        content: "";
                                    }

                                    &:before {
                                        //Dimensions
                                        top: -10px;
                                    }

                                    &:after {
                                        //Dimensions
                                        bottom: -10px;
                                    }
                                }

                            }

                            .genre_list{
                                display: none;
                            }
                        }

                        &.active{
                            .all_genre_button{
                                .all_genre_tab_top{
                                    .all_genre_text{
                                        visibility: hidden;
                                    }

                                    .hamburger {

                                        &:before {
                                            top: 0;
                                            transform: rotate(45deg);
                                        }

                                        &:after {
                                            top: 0;
                                            transform: rotate(135deg);
                                        }
                                    }

                                    .hamburger{
                                        background-color: rgba(0,0,0,0);
                                    }
                                }

                                .genre_list{
                                    position: absolute;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    z-index: 100;


                                    .genre_unit{
                                        background-color: $orange;
                                        text-align: center;
                                        width: 290px;
                                        padding: 20px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}