///
/// Styles for title (for consistency)
/// Should usually be applied to h1, h2, h3...
///

.title {
  font-weight: normal; // Remove bold text made by headings

  &--centered {
    text-align: center;
  }
}