<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/authentication.css" />
    </ui:define>

    <ui:define name="content">
        <h:form id="createNewAdForm" styleClass="admin_data__form">
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="imgURL" value="Image URL"/>
                <h:inputText id="imgURL" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{adEditorBean.imageURL}"/><br/>
                <h:message styleClass="errorMsg" for="imgURL"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="websiteURL" value="Website URL"/>
                <h:inputText id="websiteURL" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{adEditorBean.websiteURL}"/><br/>
                <h:message styleClass="errorMsg" for="websiteURL"/>
            </h:panelGroup>

            <h:commandButton styleClass="button button-small button--dark button--small" value="Create Ad"
                             action="#{adEditorBean.createNewAd}"/>
        </h:form>
    </ui:define>

</ui:composition>
</html>