<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>

            <!-- SET THIS PAGE AS ACTIVE -->
            <f:viewAction action="#{navBean.setActivePage('artist')}"/>

        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form id="createNewAdForm" styleClass="admin_data__form">
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="Name" value="Name"/>
                <h:inputText id="Name" styleClass="input__field" value="#{artistEditorBean.name}"/>
            </h:panelGroup>
            
            <h:commandButton styleClass="button button-small button--dark button--small" value="Create Artist"
                             action="#{artistEditorBean.createArtist()}"/>
        </h:form>
    </ui:define>

</ui:composition>
</html>