<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">

    <ui:define name="metadata">
        <f:metadata>

            <!-- GET USER ID FROM QUERY STRING-->
            <f:viewParam name="id" value="#{clientEditorBean.userID}"/>

            <!-- FIND USER IF EXISTS IN QUERY STRING -->
            <f:viewAction action="#{clientEditorBean.findUser}" if="#{not empty param.id}"/>

        </f:metadata>

        <h:outputStylesheet name="css/pages/authentication.css" />

    </ui:define>

    <ui:define name="content">
        <h:panelGroup layout="block" styleClass="admin_data">
            <h:form id="editUserForm" styleClass="admin_data__form">

                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="email" value="Email"/>
                    <h:inputText id="email" styleClass="input__field" validator="#{clientEditorBean.validateEmail}" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.email}"/><br/>
                    <h:message styleClass="errorMsg" for="email"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="password" value="New password"/>
                    <h:inputText id="password" styleClass="input__field" value="#{clientEditorBean.user.password}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="fname" value="First name"/>
                    <h:inputText id="fname" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.firstName}"/><br/>
                    <h:message styleClass="errorMsg" for="fname"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="lname" value="Last name"/>
                    <h:inputText id="lname" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.lastName}"/><br/>
                    <h:message styleClass="errorMsg" for="lname"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="company" value="Company"/>
                    <h:inputText id="company" styleClass="input__field" value="#{clientEditorBean.user.company}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="addr1" value="Primary address"/>
                    <h:inputText id="addr1" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.address1}"/><br/>
                    <h:message styleClass="errorMsg" for="addr1"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="addr2" value="Secondary address"/>
                    <h:inputText id="addr2" styleClass="input__field" value="#{clientEditorBean.user.address2}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="city" value="City"/>
                    <h:inputText id="city" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.city}"/><br/>
                    <h:message styleClass="errorMsg" for="city"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="province" value="Province"/>
                    <h:selectOneMenu styleClass="input__field" id="province" value="#{clientEditorBean.user.province}">
                        <f:selectItem itemValue="AB"/>
                        <f:selectItem itemValue="BC"/>
                        <f:selectItem itemValue="MB"/>
                        <f:selectItem itemValue="NB"/>
                        <f:selectItem itemValue="NL"/>
                        <f:selectItem itemValue="NT"/>
                        <f:selectItem itemValue="NS"/>
                        <f:selectItem itemValue="NU"/>
                        <f:selectItem itemValue="ON"/>
                        <f:selectItem itemValue="PE"/>
                        <f:selectItem itemValue="QC"/>
                        <f:selectItem itemValue="SK"/>
                        <f:selectItem itemValue="YT"/>
                    </h:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="postal" value="Postal code"/>
                    <h:inputText id="postal" styleClass="input__field" validator="#{registrationBean.validatePostalCode}" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.postalCode}"/><br/>
                    <h:message styleClass="errorMsg" for="postal"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="homephone" value="Home phone"/>
                    <h:inputText id="homephone" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{clientEditorBean.user.homePhone}"/><br/>
                    <h:message styleClass="errorMsg" for="homephone"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="input">
                    <h:outputLabel styleClass="input__label" for="mobilephone" value="Mobile phone"/>
                    <h:inputText id="mobilephone" styleClass="input__field" value="#{clientEditorBean.user.mobilePhone}"/>
                </h:panelGroup>

                <h:commandButton styleClass="button button-small button--dark button--small" value="Update client information"
                                 action="#{clientEditorBean.saveUserInfo}"/>
            </h:form>
        </h:panelGroup>
    </ui:define>

</ui:composition>
</html>