<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>

            <!-- SET THIS PAGE AS ACTIVE -->
            <f:viewAction action="#{navBean.setActivePage('clients')}"/>

        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:panelGroup layout="block" class="admin_data">
            <!-- DATATABLE -->
            <h:panelGroup id="clientList" layout="block" class="admin_data__table-wrapper js-dataTable-wrapper">
                <h:dataTable id="clientListTable" styleClass="dataTable hover stripe order-column row-border"
                             value="#{clientListBean.users}"
                             var="user">
                    <!-- CLIENT ID -->
                    <h:column id="idCol">
                        <f:facet name="header">Client ID</f:facet>
                        <h:outputText value="#{user.userId}"/>
                    </h:column>
                    <!-- EMAIL -->
                    <h:column id="questionCol">
                        <f:facet name="header">Email</f:facet>
                        <h:outputText value="#{user.email}"/>
                    </h:column>
                    <!-- FNANE -->
                    <h:column id="fnameCol">
                        <f:facet name="header">First name</f:facet>
                        <h:outputText value="#{user.firstName}"/>
                    </h:column>
                    <!-- LNAME -->
                    <h:column id="lnameCol">
                        <f:facet name="header">Last name</f:facet>
                        <h:outputText value="#{user.lastName}"/>
                    </h:column>
                    <!-- ADDR1 -->
                    <h:column id="addr1Col">
                        <f:facet name="header">Primary address</f:facet>
                        <h:outputText value="#{user.address1}"/>
                    </h:column>
                    <!-- ADDR2 -->
                    <h:column id="addr2Col">
                        <f:facet name="header">Secondary address</f:facet>
                        <h:outputText value="#{user.address2}"/>
                    </h:column>
                    <!-- POSTAL CODE -->
                    <h:column id="postalCol">
                        <f:facet name="header">Postal code</f:facet>
                        <h:outputText value="#{user.postalCode}"/>
                    </h:column>
                    <!-- CITY -->
                    <h:column id="cityCol">
                        <f:facet name="header">City</f:facet>
                        <h:outputText value="#{user.city}"/>
                    </h:column>
                    <!-- PROVINCE -->
                    <h:column id="provinceCol">
                        <f:facet name="header">Province</f:facet>
                        <h:outputText value="#{user.province}"/>
                    </h:column>
                    <!-- COMPANY -->
                    <h:column id="companyCol">
                        <f:facet name="header">Company</f:facet>
                        <h:outputText value="#{user.company}"/>
                    </h:column>
                    <!-- HOME PHONE -->
                    <h:column id="homePhoneCol">
                        <f:facet name="header">Home phone</f:facet>
                        <h:outputText value="#{user.homePhone}"/>
                    </h:column>
                    <!-- MOBILE PHONE -->
                    <h:column id="mobilePhoneCol">
                        <f:facet name="header">Mobile phone</f:facet>
                        <h:outputText value="#{user.mobilePhone}"/>
                    </h:column>
                    <!-- TOTAL PURCHASES AMOUNT -->
                    <h:column id="totalPurchasesCol">
                        <f:facet name="header">Total client purchases</f:facet>
                        <h:outputText value="#{user.totalPurchases}"/>
                    </h:column>

                    <!-- EDIT USER BUTTON -->
                    <h:column id="actionCol">
                        <f:facet name="header">Edit client information</f:facet>
                        <h:link styleClass="icon_button icon_button--edit"
                                outcome="/storefront/pages/admin/clientEditor">
                            <f:param name="id" value="#{user.userId}"/>
                        </h:link>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</html>
