<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      >
    <ui:composition template="/storefront/templates/managerTemplate.xhtml">

        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="editSuccess" value="#{inventoryListBean.success}"/>
                <!-- SET THIS PAGE AS ACTIVE -->
                <f:viewAction action="#{navBean.setActivePage('inventory')}"/>
            </f:metadata>


            <h:outputStylesheet name="css/pages/admin/inventoryEditor.css"/>
        </ui:define>



        <ui:define name="content">
            <div class="admin_data">

                <!-- BUTTON TO ADD A NEW ITEM TO INVENTORY -->
                <div class="admin_data__toolbar flex">
                    <p class="successWrap">
                        <h:outputText value="Changes successful" style="color: green" rendered="#{inventoryListBean.success}"/>
                    </p>
                    <h:link styleClass="button button-small button--dark button--small"
                            value="Add New Item"
                            outcome="/storefront/pages/admin/inventoryEditor"/>
                </div>

                <!-- DATATABLE -->
                <div class="admin_data__table-wrapper js-dataTable-wrapper">
                    <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                                 value="#{inventoryListBean.inventory}"
                                 var="item">

                        <!-- ITEM ID -->
                        <h:column>
                            <f:facet name="header">Item ID</f:facet>
                            <h:outputText value="#{item.itemId}"/>
                        </h:column>

                        <!-- Item Type -->
                        <h:column>
                            <f:facet name="header">Item Type</f:facet>
                            <h:outputText value="#{item.itemType}"/>
                        </h:column>

                        <!-- ITEM NAME -->
                        <h:column>
                            <f:facet name="header">Title</f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>

                        <!-- DATE ADDED-->
                        <h:column>
                            <f:facet name="header">Date Added</f:facet>
                            <h:outputText value="#{item.dateAdded}">
                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                            </h:outputText>
                        </h:column>

                        <!-- DATE REMOVED-->
                        <h:column>
                            <f:facet name="header">Date Removed</f:facet>
                            <h:outputText value="#{item.dateRemoved}">
                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                            </h:outputText>
                            <h:outputText value="Not Removed" rendered="#{empty item.dateRemoved}"/>
                        </h:column>

                        <!-- LIST PRICE -->
                        <h:column>
                            <f:facet name="header">List Price</f:facet>
                            <h:outputText value="#{item.listPrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                        </h:column>

                        <!-- COST PRICE -->
                        <h:column>
                            <f:facet name="header">Cost Price</f:facet>
                            <h:outputText value="#{item.costPrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                        </h:column>

                        <!-- SALES PRICE -->
                        <h:column>
                            <f:facet name="header">Sales Price</f:facet>
                            <h:outputText value="#{item.salePrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                        </h:column>

                        <!-- PICTURE PATH -->
                        <h:column>
                            <f:facet name="header">Picture</f:facet>
                            <!--change to render image-->
                            <h:outputText value="#{item.picturePath}"/>
                            <!--<h:graphicImage url="/resources/images/pug_test.jpg"/>-->
                        </h:column>

                        <!-- ACTION BUTTONS -->
                        <h:column>
                            <f:facet name="header">Actions</f:facet>

                            <div class="admin_data__actions">

                                <!-- EDIT BUTTON -->
                                <h:link styleClass="icon_button icon_button--edit"
                                        outcome="/storefront/pages/admin/inventoryEditor">
                                    <f:param name="id" value="#{item.itemId}"/>
                                </h:link>

                                <h:form>
                                    <!-- ARCHIVE BUTTON -->
                                    <h:commandButton styleClass="icon_button icon_button--remove" action="#{inventoryListBean.toggle(item.itemId)}"/>
                                </h:form>
                            </div>

                        </h:column>

                    </h:dataTable>
                </div>
            </div>

        </ui:define>

    </ui:composition>
</html>