<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition template="/storefront/templates/managerTemplate.xhtml">

        <ui:define name="metadata">
            <f:metadata>

                <!-- GET ITEM ID FROM QUERY STRING-->
                <f:viewParam name="id" value="#{inventoryEditorBean.itemId}"/>

                <!-- FIND ITEM IF ORDER ID EXISTS IN QUERY STRING -->
                <f:viewAction action="#{inventoryEditorBean.findItem}" if="#{not empty param.id}"/>

            </f:metadata>

            <h:outputStylesheet name="css/pages/admin/inventoryEditor.css"/>
        </ui:define>

        <ui:define name="content">
            <h:form id="inventory_form" styleClass="admin_data" enctype="multipart/form-data">
                <!-- BUTTON TO SAVE THE ITEM -->
                <div class="admin_data__toolbar" >

                    <h:commandButton class="button button-small button--dark button--small"
                                     value="Save"
                                     action="#{inventoryEditorBean.saveItem}">
                        <f:ajax execute="@form" render="@form"/>
                    </h:commandButton>
                </div>

                <!-- ITEM FORM -->
                <div class="admin_data__form">

                    <!-- TITLE INPUT -->
                    <div class="input">
                        <label class="input__label" for="title">
                            Title
                        </label>
                        <h:inputText id="title"
                                     styleClass="input__field"
                                     value="#{inventoryEditorBean.item.name}" 
                                     required="true"
                                     requiredMessage="This input is required!">
                        </h:inputText>
                        <h:message for="title" style="color: red;" />

                    </div>

                    <!-- LIST PRICE INPUT -->
                    <div class="input">
                        <label class="input__label" for="listPrice">
                            List Price - CDN $
                        </label>
                        <h:inputText id="listPrice"
                                     styleClass="input__field"
                                     value="#{inventoryEditorBean.item.listPrice}" 
                                     required="true"
                                     requiredMessage="This input is required!"
                                     converterMessage="This input is not a valid currency number!">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
                        </h:inputText>
                        <h:message for="listPrice" style="color: red;" />
                    </div>

                    <!-- COST PRICE INPUT -->
                    <div class="input">
                        <label class="input__label" for="costPrice">
                            Cost Price - CDN $
                        </label>
                        <h:inputText id="costPrice"
                                     styleClass="input__field"
                                     value="#{inventoryEditorBean.item.costPrice}"
                                     required="true"
                                     requiredMessage="This input is required!"
                                     converterMessage="This input is not a valid currency number!">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
                        </h:inputText>
                        <h:message for="costPrice" style="color: red;"/>
                    </div>

                    <!-- SALE PRICE INPUT -->
                    <div class="input">
                        <label class="input__label" for="salePrice">
                            Sale Price - CDN $
                        </label>
                        <h:inputText id="salePrice"
                                     styleClass="input__field"
                                     value="#{inventoryEditorBean.item.salePrice}"
                                     converterMessage="This input is not a valid currency number!">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
                        </h:inputText>
                        <h:message for="salePrice" style="color: red;" />
                    </div>

                    <!-- PICTURE INPUT -->
                    <h:panelGroup layout="block" class="input" id="imageFile">
                        <label class="input__label" for="imageFile">
                            Picture
                        </label>

                        <div class="image_selection_wrap">
                            <h:graphicImage styleClass="fixImageSize" value="/images/#{inventoryEditorBean.item.picturePath}" />
                            <h:inputFile id="inputFileCover" value="#{inventoryEditorBean.imageFile}" validator="#{inventoryEditorBean.validateFile}">
                                <f:ajax event="change" execute=":inventory_form:imageFile" render=":inventory_form:imageFile"/>
                            </h:inputFile>
                            <h:messages for="inputFileCover" style="color: red;" />
                        </div>
                    </h:panelGroup>

                    <!-- GENRES INPUT -->
                    <div class="input">
                        <label class="input__label">
                            Genres
                        </label>
                        <div class="button_group_spacing_wrap">
                            <h:panelGroup styleClass="button_listing_group" id="genre_button_list" layout="block">
                                <ui:repeat value="#{inventoryEditorBean.item.categoryList}" var="category">
                                    <h:commandButton class="button" value="#{category.name}" action="#{inventoryEditorBean.item.categoryList.remove(category)}">
                                        <f:ajax execute="@this" render=":inventory_form:genre_button_list"/>
                                    </h:commandButton>
                                </ui:repeat>
                            </h:panelGroup>
                            <div id="plus_expand_genre" class="arrow"/>
                        </div>

                        <div id="genre_table" >
                            <div class="admin_data__table-wrapper js-dataTable-wrapper" >
                                <h:dataTable styleClass="dataTableNoPage hover stripe order-column row-border"
                                             value="#{categoryListBean.categoryList}"
                                             var="category" >

                                    <!--GENRES ID--> 
                                    <h:column>
                                        <f:facet name="header">Genre ID</f:facet>
                                        <h:outputText value="#{category.categoryId}"/>
                                    </h:column>

                                    <!--GENRES NAME--> 
                                    <h:column>
                                        <f:facet name="header">Genre Name</f:facet>
                                        <h:outputText value="#{category.name}"/>
                                    </h:column>

                                    <!--ACTION BUTTONS--> 
                                    <h:column>
                                        <f:facet name="header">Actions</f:facet>

                                        <div class="admin_data__actions">
                                            <!--ARCHIVE BUTTON--> 
                                            <h:commandButton styleClass="button" value="Add" action="#{inventoryEditorBean.item.categoryList.add(category)}">
                                                <f:ajax execute="@this" render=":inventory_form:genre_button_list"/>
                                            </h:commandButton>
                                        </div>

                                    </h:column>

                                </h:dataTable>
                            </div>
                        </div>
                    </div>

                    <!-- ITEM TYPE INPUT -->
                    <div class="input">
                        <label class="input__label" for="email">
                            Item Type
                        </label>
                        <h:selectOneMenu id="itemType" disabled="#{inventoryEditorBean.itemId ne 0}" value="#{inventoryEditorBean.itemType}">
                            <f:selectItem itemValue="album" itemLabel="Album" ></f:selectItem>
                            <f:selectItem itemValue="track" itemLabel="Track" ></f:selectItem>
                            <f:ajax event="change" execute="@this" render="@form"/>
                        </h:selectOneMenu>
                    </div>

                    <div id="render_section">
                        <c:if test="#{((not empty inventoryEditorBean.item) ? inventoryEditorBean.item.itemType : 'album') eq 'album'}">
                            <ui:include src='/storefront/fragments/item/albumItemEditor.xhtml'/>
                        </c:if>
                        <c:if test="#{((not empty inventoryEditorBean.item) ? inventoryEditorBean.item.itemType : 'album') eq 'track'}">
                            <ui:include src='/storefront/fragments/item/trackItemEditor.xhtml'/>
                        </c:if>
                    </div>
                </div>
            </h:form>

        </ui:define>

        <ui:define name="script">
            <h:outputScript library="js" name="expand_datatables.js" />
            <o:onloadScript>click();</o:onloadScript>
            <o:onloadScript>$(".js-dataTable-wrapper").css("display", "block");</o:onloadScript>
        </ui:define>

    </ui:composition>
</html>