<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">

    <ui:define name="content">
        <h:form id="createNewAdForm" styleClass="admin_data__form">
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="URL" value="URL"/>
                <h:inputText id="URL" styleClass="input__field" value="#{newsEditorBean.url}"/>
            </h:panelGroup>
            
            <h:commandButton styleClass="button button-small button--dark button--small" value="Create News"
                             action="#{newsEditorBean.createNews()}"/>
        </h:form>
    </ui:define>

</ui:composition>
</html>