<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>

            <!-- SET THIS PAGE AS ACTIVE -->
            <f:viewAction action="#{navBean.setActivePage('news')}"/>

        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:panelGroup layout="block" class="admin_data">
            <!-- BUTTON TO CREATE A NEW AD -->
            <h:panelGroup layout="block" class="admin_data__toolbar">
                <h:link styleClass="button button-small button--dark button--small"
                        value="Create News Feed"
                        outcome="/storefront/pages/admin/newsEditor"/>
            </h:panelGroup>

            <!-- DATATABLE -->
            <h:panelGroup id="adList" layout="block" class="admin_data__table-wrapper js-dataTable-wrapper">
                <h:dataTable id="adListTable" styleClass="dataTable hover stripe order-column row-border"
                             value="#{newsListBean.newsList}"
                             var="news">
                    <!-- NEWS ID -->
                    <h:column id="idCol">
                        <f:facet name="header">News ID</f:facet>
                        <h:outputText value="#{news.newsId}"/>
                    </h:column>
                    <!-- IMAGE URL -->
                    <h:column id="imgUrlCol">
                        <f:facet name="header">RSS Feed URL</f:facet>
                        <h:outputText value="#{news.url}"/>
                    </h:column>
                    <!-- LEFT AD ACTIVE STATUS -->
                    <h:column id="leftAdActiveStatusCol">
                        <f:facet name="header">Left Ad Active Status</f:facet>
                        <h:outputText value="#{news.activeNews ? 'Active' : 'Inactive'}"/>
                    </h:column>

                    <!-- SET AS ACTIVE ACTION BUTTONs -->
                    <h:column id="actionCol">
                        <f:facet name="header">Modify Status</f:facet>
                        <h:panelGroup layout="block" id="adActionGroup" styleClass="admin_data__actions">
                            <h:form id="activateAsLeftAd">
                                <h:commandButton value="Set as Active news"
                                                 action="#{newsListBean.activateNews(news.newsId)}"
                                                 styleClass="button"/>
                            </h:form>
                        </h:panelGroup>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</html>
