<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">

    <ui:define name="metadata">
        <f:metadata>

            <!-- GET ORDER ID FROM QUERY STRING-->
            <f:viewParam name="id" value="#{orderEditorBean.orderId}"/>

            <!-- FIND ORDER IF ORDER ID EXISTS IN QUERY STRING -->
            <f:viewAction action="#{orderEditorBean.findOrder}" if="#{not empty param.id}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="content">

        <div class="admin_data">

            <!-- BUTTON TO SAVE THE ORDER -->
            <div class="admin_data__toolbar">
                <h:commandButton styleClass="button button-small button--dark button--small"
                                 value="Save"
                                 action="#{orderEditorBean.saveOrder}">
                    <f:ajax execute="@this" render="@form"/>
                </h:commandButton>
            </div>

            <!-- ORDER FORM -->
            <h:form styleClass="admin_data__form">

                <!-- EMAIL INPUT -->
                <div class="input">
                    <label class="input__label" for="email">
                        #{msg["orderMgmtEmail"]}
                    </label>
                    <h:inputText id="email"
                                 styleClass="input__field"
                                 value="#{orderEditorBean.userEmail}"
                                 disabled="true"/>
                </div>

                <!-- ORDER DATE INPUT -->
                <div class="input">
                    <label class="input__label" for="timestamp">
                        #{msg["orderMgmtDate"]}
                    </label>
                    <h:inputText id="timestamp"
                                 styleClass="input__field"
                                 value="#{orderEditorBean.order.timestamp}"
                                 disabled="true">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:inputText>
                </div>

                <!-- SUBTOTAL INPUT -->
                <div class="input">
                    <label class="input__label" for="subtotal">
                        #{msg["cartSubtotal"]}
                    </label>
                    <h:inputText id="subtotal"
                                 styleClass="input__field"
                                 value="#{orderEditorBean.order.subtotal}"
                                 disabled="true">
                        <f:convertNumber type="currency" currencySymbol="$"/>
                    </h:inputText>
                </div>

                <!-- TAXES INPUT -->
                <div class="input">
                    <label class="input__label" for="taxes">
                        #{msg["cartTaxes"]}
                    </label>
                    <h:inputText id="taxes"
                                 styleClass="input__field"
                                 value="#{orderEditorBean.order.taxes}"
                                 disabled="true">
                        <f:convertNumber type="currency" currencySymbol="$"/>
                    </h:inputText>
                </div>

                <!-- GRAND TOTAL INPUT -->
                <div class="input">
                    <label class="input__label" for="grand_total">
                        #{msg["cartGrandTotal"]}
                    </label>
                    <h:inputText id="grand_total"
                                 styleClass="input__field"
                                 value="#{orderEditorBean.order.grandTotal}"
                                 disabled="true">
                        <f:convertNumber type="currency" currencySymbol="$"/>
                    </h:inputText>
                </div>

                <!-- ITEMS IN ORDER -->
                <div class="cart cart--mini-modifiable">
                    <div class="cart__title">
                        #{msg["orderMgmtItemsInOrder"]}
                    </div>

                    <h:outputText rendered="#{orderEditorBean.order.orderItems.size() == 0}"
                                  value="None"/>

                    <ui:repeat value="#{orderEditorBean.order.orderItems}" var="orderItem">
                        <div class="cart__item">
                            <div class="cart__item-image">
                                <h:graphicImage url="/images/#{orderItem.item.picturePath}"
                                                alt="Item"/>
                            </div>

                            <div class="cart__item-title">
                                <h:outputText value="#{orderItem.item.name}"/>
                            </div>

                            <div class="cart__item-price">
                                <h:outputText value="#{orderItem.price}"/> $
                            </div>

                            <div class="cart__remove-item-btn">
                                <h:commandLink action="#{orderEditorBean.removeItemFromOrder(orderItem.orderItemPK.orderId, orderItem.orderItemPK.itemId)}"
                                               styleClass="remove-from-cart">
                                    <f:ajax execute="@this" render="@form"/>
                                    <h:graphicImage url="/resources/icons/cancel.svg"/>
                                </h:commandLink>
                            </div>
                        </div>
                    </ui:repeat>
                </div>


            </h:form>
        </div>

    </ui:define>

</ui:composition>
</html>