<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/storefront/templates/managerTemplate.xhtml">

    <ui:define name="metadata">
        <f:metadata>

            <!-- SET THIS PAGE AS ACTIVE -->
            <f:viewAction action="#{navBean.setActivePage('orders')}"/>

        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <div class="admin_data">

            <!-- BUTTON TO ADD A NEW ORDER -->
            <div class="admin_data__toolbar">
                <h:link styleClass="button button-small button--dark button--small"
                        value="Add New Order"
                        outcome="/storefront/pages/admin/orderEditor"/>
            </div>

            <!-- DATATABLE -->
            <div class="admin_data__table-wrapper js-dataTable-wrapper">
                <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                             value="#{orderListBean.orders}"
                             var="order">

                    <!-- ORDER ID -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtOrderId"]}</f:facet>
                        <h:outputText value="#{order.orderId}"/>
                    </h:column>

                    <!-- CLIENT EMAIL -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtEmail"]}</f:facet>
                        <h:outputText value="#{order.user.email}"/>
                    </h:column>

                    <!-- CLIENT NAME -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtClient"]}</f:facet>
                        <h:outputText value="#{order.user.firstName} #{order.user.lastName}"/>
                    </h:column>

                    <!-- ORDER DATE -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtDate"]}</f:facet>
                        <h:outputText value="#{order.timestamp}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>

                    </h:column>

                    <!-- NUMBER OF ITEMS IN ORDER -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtItems"]}</f:facet>
                        <h:outputText value="#{order.orderItems.size()}"/>
                    </h:column>

                    <!-- SUBTOTAL -->
                    <h:column>
                        <f:facet name="header">#{msg["cartSubtotal"]}</f:facet>
                        <h:outputText value="#{order.subtotal}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>
                    </h:column>

                    <!-- TAXES -->
                    <h:column>
                        <f:facet name="header">#{msg["cartTaxes"]}</f:facet>
                        <h:outputText value="#{order.taxes}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>
                    </h:column>

                    <!-- GRAND TOTAL -->
                    <h:column>
                        <f:facet name="header">#{msg["cartGrandTotal"]}</f:facet>
                        <h:outputText value="#{order.grandTotal}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>
                    </h:column>

                    <!-- ACTION BUTTONS -->
                    <h:column>
                        <f:facet name="header">#{msg["orderMgmtActions"]}</f:facet>

                        <div class="admin_data__actions">

                            <!-- EDIT BUTTON -->
                            <h:link styleClass="icon_button icon_button--edit"
                                    outcome="/storefront/pages/admin/orderEditor">
                                <f:param name="id" value="#{order.orderId}"/>
                            </h:link>

                            <!-- ARCHIVE BUTTON -->
                            <h:commandButton styleClass="icon_button icon_button--remove">
                                <f:param name="id" value="#{order.orderId}"/>
                            </h:commandButton>

                        </div>

                    </h:column>

                </h:dataTable>
            </div>
        </div>

    </ui:define>

</ui:composition>
</html>