<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/storefront/templates/managerTemplate.xhtml">

        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
            <f:metadata>
                <!-- SET THIS PAGE AS ACTIVE -->
                <f:viewAction action="#{navBean.setActivePage('reports')}"/>
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <h1>#{msg.reportsPageTitle}</h1>

            <!-- Filter With Dates -->
            <h:form>
                #{msg.from}:
                <h:inputText id="from" value="#{reportsBean.from}">   
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:inputText>
                #{msg.to}:
                <h:inputText id="to" value="#{reportsBean.to}">   
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:inputText>
                <h:commandButton value="Select" action="#{reportsBean.filterByDate()}">
                    <f:ajax execute="@this" render="@form"/>
                </h:commandButton>
            </h:form>

            <!-- Tab View -->
                <p:growl id="message"></p:growl>
                <p:tabView activeIndex="#{tabViewManagedBean.index}">

                    <!-- Total Sales -->
                    <p:tab title="#{msg.totalSales}">
                        <ui:include src="/storefront/pages/admin/reportComponents/totalSales.xhtml"/>
                    </p:tab>

                    <!-- Total Sales By Client -->
                    <p:tab title="#{msg.salesByClient}">
                        <ui:include src="/storefront/pages/admin/reportComponents/salesPerUser.xhtml"/>
                    </p:tab>

                    <!-- Total Sales By Artist -->
                    <p:tab title="#{msg.salesByArtist}">
                        <ui:include src="/storefront/pages/admin/reportComponents/salesPerArtist.xhtml"/>
                    </p:tab>

                    <!-- Total Sales For Album -->
                    <p:tab title="#{msg.salesByAlbum}">
                        <ui:include src="/storefront/pages/admin/reportComponents/salesPerAlbum.xhtml"/>
                    </p:tab>
                    <!-- Total Sales For Track -->
                    <p:tab title="#{msg.salesByTrack}">
                        <ui:include src="/storefront/pages/admin/reportComponents/salesPerTrack.xhtml"/>

                    </p:tab>
                    <!-- Show Top Album Sellers -->
                    <p:tab title="#{msg.topAlbumSellers}">
                        <ui:include src="/storefront/pages/admin/reportComponents/topSellersAlbum.xhtml"/>
                    </p:tab>
                    <!-- Show Top Track Sellers -->
                    <p:tab title="#{msg.topTrackSellers}">
                        <ui:include src="/storefront/pages/admin/reportComponents/topSellersTrack.xhtml"/>

                    </p:tab>
                    <!-- Show Zero Sold Items -->
                    <p:tab title="#{msg.zeroSold}">
                        <ui:include src="/storefront/pages/admin/reportComponents/zeroItemSellers.xhtml"/>
                    </p:tab>

                    <!-- Show Top Buyers -->
                    <p:tab title="#{msg.topClients}">
                        <ui:include src="/storefront/pages/admin/reportComponents/topUserSellers.xhtml"/>
                    </p:tab>

                    <!-- Show Zero Buyers -->
                    <p:tab title="#{msg.zeroClients}">
                        <ui:include src="/storefront/pages/admin/reportComponents/zeroUsers.xhtml"/>
                    </p:tab>

                </p:tabView>
        </ui:define>
    </ui:composition>
</html>