<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/storefront/templates/managerTemplate.xhtml">

        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/review-management-page.css" />
            <f:metadata>

                <!-- GET REVIEW ID FROM QUERY STRING-->
                <f:viewParam name="id" value="#{reviewEditorBean.id}"/>

                <f:viewAction action="#{reviewEditorBean.findReview()}" if="#{not empty param.id}"/>
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div class="reivewManagement margin">
                <!-- VIEW REVIEW -->
                <h1 class="title margin-bottom">#{msg.reviewManagementTitle}</h1>

                <div class="review-container-manager">
                    <div class="review-header">
                        <h:outputText class= "reviwer" value="#{reviewEditorBean.review.userId.firstName} #{reviewEditorBean.review.userId.lastName}"/>
                        <h:outputText value="&#160;"/> 
                        <h:outputText value="• #{reviewEditorBean.review.starRating}"/>
                        <h:graphicImage class="star-image-width" value="/resources/images/review_star_yellow.svg"></h:graphicImage>
                        <h:outputText value="&#160;"/> 
                        <h:outputText class="date-posted" value="#{reviewEditorBean.review.reviewDate}"/> 
                    </div>

                    <h:outputText  class="review-comment" value="#{reviewEditorBean.review.comment}"/> 
                </div>

                <h:panelGroup layout="block" id="status" class="margin-top">

                    <h:form>
                        <h:outputText value="#{msg.reviewStatus}: #{reviewEditorBean.review.isApproved}"/>

                        <label class="switch">
                            <h:selectBooleanCheckbox value="#{reviewEditorBean.review.isApproved}"
                                                     valueChangeListener="#{reviewEditorBean.changeReviewStatus}">
                                <f:ajax execute="@form" render="@form"/>
                            </h:selectBooleanCheckbox>
                            <span class="slider round"></span>
                        </label>
                    </h:form>
                </h:panelGroup>

                <div class="item-manager">
                    <h1 class="title margin-bottom">#{msg.itemTitleManagement}</h1>
                    <div>#{msg.itemName}: #{reviewEditorBean.review.itemId.name}</div>
                    <div>#{msg.itemId}: #{reviewEditorBean.review.itemId.itemId}</div>
                    <div>#{msg.itemType}: #{reviewEditorBean.review.itemId.itemType}</div> 
                    <h:link class="link hover-effect display-block margin-top" value="#{msg.moreInfo}"
                                                        outcome="/storefront/pages/public/itemDetails?id=#{reviewEditorBean.review.itemId.itemId}"/>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
