<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/storefront/templates/managerTemplate.xhtml">

        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/review-management-page.css" />
            <f:metadata>
                <!-- SET THIS PAGE AS ACTIVE -->
                <f:viewAction action="#{navBean.setActivePage('reviews')}"/>
            </f:metadata>
        </ui:define>
        <ui:define name="content">
            <div class="reivewManagement">
                <!-- PAGE TITLE -->
                <h1 class="title margin-bottom">#{msg.reviewManagementTitle}</h1>

                <!-- RENDER APPROVED REVIEWS -->
                <h:outputText class="title" value="#{msg.reviewApproved}"/> 
                <h:panelGroup id="approved-review">
                    <h:panelGroup rendered="#{not empty reviewManagementBean.approvedReviews}">
                        <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                                     value="#{reviewManagementBean.approvedReviews}"
                                     var="review">

                            <!-- REVIEW ID -->
                            <h:column>
                                <f:facet name="header">Review</f:facet>
                                <h:outputText value="#{review.reviewId}"/>
                            </h:column>

                            <!-- USER WHO WROTE COMMENT -->
                            <h:column>
                                <f:facet name="header">User</f:facet>
                                <h:outputText value="#{review.userId.firstName} #{review.userId.lastName} (ID: #{review.userId.userId})"/>
                            </h:column>

                            <!--  DATE  -->
                            <h:column>
                                <f:facet name="header">Review Date</f:facet>
                                <h:outputText value="#{review.reviewDate}"/>
                            </h:column> 

                            <!--  REVIEW COMMENT -->
                            <h:column>
                                <f:facet name="header">Comment</f:facet>
                                <h:outputText value="#{review.comment}"/>
                            </h:column> 


                            <!--  REVIEW ITEM -->
                            <h:column>
                                <f:facet name="header">Review Item</f:facet>
                                <h:link class="link hover-effect display-block margin-top" value="#{review.itemId.name}"
                                        outcome="/storefront/pages/public/itemDetails?id=#{review.itemId.itemId}"/>
                                <h:outputText value=" Type: #{review.itemId.itemType}"/>
                            </h:column> 


                            <!-- CHANGE REVIEW STATUS FUNCTIONALITY -->
                            <h:column>
                                <f:facet name="header"> Change Status</f:facet>
                                <h:link styleClass="icon_button icon_button--edit"
                                        outcome="/storefront/pages/admin/reviewEditor?faces-redirect=true">
                                    <f:param name="id" value="#{review.reviewId}"/>
                                </h:link>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{empty reviewManagementBean.approvedReviews}">
                        <h:outputText class="read-review" value="#{msg.noReviewTitle}"/>
                    </h:panelGroup>
                </h:panelGroup>


                <!-- RENDER NOT APPROVED REVIEWS -->
                <h:outputText  class="title" value="#{msg.reviewNotApproved}"/> 

                <h:panelGroup id="not-approved-review">
                    <h:panelGroup rendered="#{not empty reviewManagementBean.unapprovedReviews}">
                        <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                                     value="#{reviewManagementBean.unapprovedReviews}"
                                     var="review">

                            <!-- REVIEW ID -->
                            <h:column>
                                <f:facet name="header">Review</f:facet>
                                <h:outputText value="#{review.reviewId}"/>
                            </h:column>

                            <!-- USER WHO WROTE COMMENT -->
                            <h:column>
                                <f:facet name="header">User</f:facet>
                                <h:outputText value="#{review.userId.firstName} #{review.userId.lastName} (ID: #{review.userId.userId})"/>
                            </h:column>

                            <!--  DATE  -->
                            <h:column>
                                <f:facet name="header">Review Date</f:facet>
                                <h:outputText value="#{review.reviewDate}"/>
                            </h:column> 
                            <!--  REVIEW COMMENT -->
                            <h:column>
                                <f:facet name="header">Comment</f:facet>
                                <h:outputText value="#{review.comment}"/>
                            </h:column> 


                            <!--  REVIEW ITEM -->
                            <h:column>
                                <f:facet name="header">Review Item</f:facet>
                                <h:link class="link hover-effect display-block margin-top" value="#{review.itemId.name}"
                                        outcome="/storefront/pages/public/itemDetails?id=#{review.itemId.itemId}"/>
                                <h:outputText value=" Type: #{review.itemId.itemType}"/>
                            </h:column> 

                            <!-- CHANGE REVIEW STATUS FUNCTIONALITY -->
                            <h:column>
                                <f:facet name="header"> Change Status</f:facet>
                                <h:link styleClass="icon_button icon_button--edit"
                                        outcome="/storefront/pages/admin/reviewEditor">
                                    <f:param name="id" value="#{review.reviewId}"/>
                                </h:link>
                            </h:column>

                        </h:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{empty reviewManagementBean.unapprovedReviews}">
                        <h:outputText class="read-review" value="#{msg.noReviewTitle}"/>
                    </h:panelGroup>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>
