<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">>
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/authentication.css" />
    </ui:define>

    <ui:define name="content">
        <h:form id="createNewSurveyForm" styleClass="admin_data__form">
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="question" value="Question"/>
                <h:inputText id="question" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{surveyEditorBean.question}"/><br/>
                <h:message styleClass="errorMsg" for="question"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="option1" value="Option 1"/>
                <h:inputText id="option1" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{surveyEditorBean.option1}"/><br/>
                <h:message styleClass="errorMsg" for="option1"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="option2" value="Option 2"/>
                <h:inputText id="option2" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{surveyEditorBean.option2}"/><br/>
                <h:message styleClass="errorMsg" for="option2"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="option3" value="Option 3"/>
                <h:inputText id="option3" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{surveyEditorBean.option3}"/><br/>
                <h:message styleClass="errorMsg" for="option3"/>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="input">
                <h:outputLabel styleClass="input__label" for="option4" value="Option 4"/>
                <h:inputText id="option4" styleClass="input__field" required="true" requiredMessage="#{msg.required}" value="#{surveyEditorBean.option4}"/>
                <h:message styleClass="errorMsg" for="option4"/>
            </h:panelGroup>

            <h:commandButton styleClass="button button-small button--dark button--small" value="Create survey"
                             action="#{surveyEditorBean.createNewSurvey}"/>
        </h:form>
    </ui:define>

</ui:composition>
</html>