<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/storefront/templates/managerTemplate.xhtml">
    <ui:define name="metadata">
        <f:metadata>

            <!-- SET THIS PAGE AS ACTIVE -->
            <f:viewAction action="#{navBean.setActivePage('surveys')}"/>

        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:panelGroup layout="block" class="admin_data">
            <!-- BUTTON TO CREATE A NEW SURVEY -->
            <h:panelGroup layout="block" class="admin_data__toolbar">
                <h:link styleClass="button button-small button--dark button--small"
                        value="Create a new survey"
                        outcome="/storefront/pages/admin/surveyEditor"/>
            </h:panelGroup>

            <!-- DATATABLE -->
            <h:panelGroup id="surveyList" layout="block" class="admin_data__table-wrapper js-dataTable-wrapper">
                <h:dataTable id="surveyListTable" styleClass="dataTable hover stripe order-column row-border"
                             value="#{surveyListBean.surveys}"
                             var="survey">
                    <!-- SURVEY ID -->
                    <h:column id="idCol">
                        <f:facet name="header">Survey ID</f:facet>
                        <h:outputText value="#{survey.surveyId}"/>
                    </h:column>
                    <!-- QUESTION -->
                    <h:column id="questionCol">
                        <f:facet name="header">Question</f:facet>
                        <h:outputText value="#{survey.question}"/>
                    </h:column>
                    <!-- OPTION 1 -->
                    <h:column id="option1Col">
                        <f:facet name="header">Option 1</f:facet>
                        <h:outputText value="#{survey.option1}"/>
                    </h:column>
                    <!-- OPTION 2 -->
                    <h:column id="option2Col">
                        <f:facet name="header">Option 2</f:facet>
                        <h:outputText value="#{survey.option2}"/>
                    </h:column>
                    <!-- OPTION 3 -->
                    <h:column id="option3Col">
                        <f:facet name="header">Option 3</f:facet>
                        <h:outputText value="#{survey.option3}"/>
                    </h:column>
                    <!-- OPTION 4 -->
                    <h:column id="option4Col">
                        <f:facet name="header">Option 4</f:facet>
                        <h:outputText value="#{survey.option4}"/>
                    </h:column>
                    <!-- ACTIVE STATUS -->
                    <h:column id="activeCol">
                        <f:facet name="header">Active Status</f:facet>
                        <h:outputText id="activeStatus" value="#{survey.active ? 'Active' : 'Inactive'}"/>
                    </h:column>

                    <!-- SET AS ACTIVE ACTION BUTTON -->
                    <h:column id="actionCol">
                        <f:facet name="header">Modify Status</f:facet>
                        <h:form id="activateSurvey">
                            <h:commandButton value="Set as active"
                                             action="#{surveyListBean.activateSurvey(survey.surveyId)}"
                                             styleClass="button">
                                <!-- Does not update properly
                                <f:ajax execute="@this" render=":surveyListTable:0:activeStatus"/>
                                -->
                            </h:commandButton>
                        </h:form>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</html>
