<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Choose An Artist -->
        <h:form class="forms-margin" id="chooseArtistForm">
            <h:selectOneMenu  class="padding-horizontal add-review-stars" value="#{reportsBean.artistId}">
                <f:selectItems value="#{reportsBean.artists}" var="artist"
                               itemLabel="#{artist.name}" itemValue="#{artist.artistId}" />
                <f:ajax listener="#{reportsBean.submitArtist()}" execute="@this" render="@form" />
            </h:selectOneMenu>

        <!-- Total Payed Per Albums and Tracks-->
        <h1 class="artist-sales">#{msg.totalSales}  - #{reportsBean.totalPayedArtistAlbum() + reportsBean.totalPayedArtistTrack()}$</h1>

        <!-- Show Total Sales Of Albums .. if any -->            
        <h:panelGroup  id="artist-sales-items" class ="vertical-flex margin-top" rendered ="#{not empty reportsBean.artist.albumCollection}">
       
            <!-- Total Payed Per Albums-->
            <h2>#{msg.album} - #{msg.totalSales}: #{reportsBean.totalPayedArtistAlbum()}$</h2>

            <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                         value="#{reportsBean.artist.albumCollection}"
                         var="album">

                <!-- Item Name -->
                <h:column>
                    <f:facet name="header">#{msg.item}</f:facet>
                    <h:link class="link hover-effect display-block margin-top" value="#{album.name}"
                            outcome="/storefront/pages/public/itemDetails?id=#{album.itemId}"/>
                </h:column>

                <!-- Item Price -->
                <h:column>
                    <f:facet name="header">#{msg.price}</f:facet>
                    <h:outputText value="#{album.listPrice}$"/>
                </h:column>

                <!-- Total Sold Of That Item -->
                <h:column>
                    <f:facet name="header">#{msg.totalSales}</f:facet>
                    <h:outputText value="#{reportsBean.countItem(album)}"/>
                </h:column>

            </h:dataTable>
        </h:panelGroup>

        <!-- Show Total Sales Of Tracks -->            
        <h:panelGroup  class ="vertical-flex margin-top">

            <!-- Total Payed Per Tracks -->
            <h2>#{msg.track} - #{msg.totalSales}: #{reportsBean.totalPayedArtistTrack()}$</h2>

            <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                         value="#{reportsBean.artist.trackCollection}"
                         var="track">

                <!-- Item Name -->
                <h:column>
                    <f:facet name="header">#{msg.item}</f:facet>
                    <h:link class="link hover-effect display-block margin-top" value="#{track.name}"
                            outcome="/storefront/pages/public/itemDetails?id=#{track.itemId}"/>
                </h:column>

                <!-- Item Price -->
                <h:column>
                    <f:facet name="header">#{msg.price}</f:facet>
                    <h:outputText value="#{track.listPrice}$"/>
                </h:column>

                <!-- Total Sold Of That Item -->
                <h:column>
                    <f:facet name="header">#{msg.totalSales}</f:facet>
                    <h:outputText value="#{reportsBean.countItem(track)}"/>
                </h:column>

            </h:dataTable>
        </h:panelGroup>
        
        </h:form>

    </ui:composition>
</html>
