<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Choose An Artist -->
        <h:form class="forms-margin" id="chooseAlbumForm">
            <h:selectOneMenu  class="padding-horizontal add-review-stars" value="#{reportsBean.albumId}">
                <f:selectItems value="#{reportsBean.getAllItems('album')}" var="album"
                               itemLabel="#{album.name}" itemValue="#{album.itemId}" />
                <f:ajax listener="#{reportsBean.submitAlbum()}" execute="@this" render="@form" />
            </h:selectOneMenu>
            
        <!-- Show All Sales For Chosen Album -->
        <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{not empty reportsBean.allAlbumOrders}">

            <!-- Total Sales For Album -->
            <h:outputText value="#{msg.totalSales}: #{reportsBean.totalSalesPerAlbum()} $"/> 

            <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                         value="#{reportsBean.allAlbumOrders}"
                         var="orderItem">

                <!-- Order ID -->
                <h:column>
                    <f:facet name="header">#{msg.order}</f:facet>
                    <h:outputText value="#{orderItem.order.orderId}"/>
                </h:column>

                <!-- Date Of Order -->
                <h:column>
                    <f:facet name="header">#{msg.date}</f:facet>
                    <h:outputText value="#{orderItem.order.timestamp}"/>
                </h:column>

                <!-- Bought For -->
                <h:column>
                    <f:facet name="header">#{msg.boughtFor}</f:facet>
                    <h:outputText value="#{reportsBean.album.listPrice - reportsBean.album.salePrice}$ (#{msg.originalPrice}: #{reportsBean.album.listPrice}$)"/>
                </h:column>
            </h:dataTable>
        </h:panelGroup>
        
        <!-- Album Not Sold Yet -->
        <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{empty reportsBean.allAlbumOrders}">
            <h:outputText value="#{msg.albumNotSold}"/>
        </h:panelGroup>
        </h:form>

    </ui:composition>
</html>