<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Choose An Artist -->
        <h:form class="forms-margin" id="chooseTrackForm">
            <h:selectOneMenu  class="padding-horizontal add-review-stars" value="#{reportsBean.trackId}">
                <f:selectItems value="#{reportsBean.getAllItems('track')}" var="track"
                               itemLabel="#{track.name}" itemValue="#{track.itemId}" />
                <f:ajax listener="#{reportsBean.submitTrack()}" execute="@this" render="@form" />
            </h:selectOneMenu>

  
            <!-- Show All Sales For Track.. if any -->
            <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{not empty reportsBean.allTrackOrders}">

                <!-- Total Sales Per Track -->
                <h:outputText value="#{msg.totalSales}: #{reportsBean.totalSalesPerTrack()} $"/> 

                <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                             value="#{reportsBean.allTrackOrders}"
                             var="orderItem">

                    <!-- Order ID -->
                    <h:column>
                        <f:facet name="header">#{msg.order}</f:facet>
                        <h:outputText value="#{orderItem.order.orderId}"/>
                    </h:column>

                    <!-- Date Ordered -->
                    <h:column>
                        <f:facet name="header">#{msg.date}</f:facet>
                        <h:outputText value="#{orderItem.order.timestamp}"/>
                    </h:column>

                    <!-- Bought For -->
                    <h:column>
                        <f:facet name="header">#{msg.boughtFor}</f:facet>
                        <h:outputText value="#{reportsBean.track.listPrice - reportsBean.track.salePrice}$ (#{msg.originalPrice}: #{reportsBean.track.listPrice}$)"/>
                    </h:column>

                </h:dataTable>
            </h:panelGroup>
            
            <!-- Track Not Sold Yet -->
            <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{empty reportsBean.allTrackOrders}">
                <h:outputText value="#{msg.trackNotSold}"/>
            </h:panelGroup>
        </h:form>
   </ui:composition>
</html>



