<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Choose An Artist -->
        <h:form class="forms-margin" id="chooseUserForm">
            <h:selectOneMenu  class="padding-horizontal add-review-stars" value="#{reportsBean.clientId}">
  <f:selectItems value="#{reportsBean.users}" var="user"  
                               itemLabel="#{user.firstName} #{user.lastName} - ID: #{user.userId}" itemValue="#{user.userId}" />
                <f:ajax listener="#{reportsBean.submitClient()}" execute="@this" render="@form" />
            </h:selectOneMenu>

        
            <!-- Show All Items User Bought -->
            <h:panelGroup  class ="vertical-flex margin-top" id="user-sales" rendered ="#{not empty reportsBean.userItems}">

                <!-- Total Payed in $ -->
                <h:outputText value="#{msg.totalSalesPerUser} #{reportsBean.user.firstName}: #{reportsBean.totalUserPayed}$ "/>

                <!-- Show Items User Bought -->
                <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                             value="#{reportsBean.userItems}"
                             var="item">

                    <!-- Item Name -->
                    <h:column>
                        <f:facet name="header">#{msg.item}</f:facet>
                        <h:link class="link hover-effect display-block margin-top" value="#{item.name}"
                                outcome="/storefront/pages/public/itemDetails?id=#{item.itemId}"/>
                    </h:column>

                    <!-- Item Type -->
                    <h:column>
                        <f:facet name="header">#{msg.type}</f:facet>
                        <h:outputText value="#{item.itemType}"/>
                    </h:column>

                    <!-- Item Price -->
                    <h:column>
                        <f:facet name="header">#{msg.price}</f:facet>
                        <h:outputText value="#{item.listPrice}$"/>
                    </h:column>

                </h:dataTable>
            </h:panelGroup>

            <!-- User Did Not Make Any Sale Yet-->
            <h:panelGroup class ="vertical-flex margin-top" rendered ="#{empty reportsBean.userItems}">
                <h:outputText value="#{msg.userDidntBuy}"/>
            </h:panelGroup>
        </h:form>

    </ui:composition>
</html>
