<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>
        
        <!-- Show All Top Sellers -->
        <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{not empty reportsBean.topSellersAlbum}">
            <ui:repeat value="#{reportsBean.topSellersAlbum}" var ="albumItem">

                <!-- Album Name and Price -->
                <div class="flex-horizontal text-margin-horizontal">
                    <h:link class="link hover-effect margin-top" value="#{albumItem.name}"
                            outcome="/storefront/pages/public/itemDetails?id=#{albumItem.itemId}"/>
                    <h:outputText value="&#160;" /> 
                    <h:outputText value=" - #{albumItem.orderItems.size()} #{msg.itemsBought}"/>
                </div>
            </ui:repeat>
        </h:panelGroup>
        
        <!-- No Albums Were Sold Yet -->
        <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{empty reportsBean.topSellersAlbum}">
            <h:outputText value="#{msg.noItemsSold}"/>
        </h:panelGroup>

    </ui:composition>
</html>

