<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Show All Top Tracks -->
        <h:panelGroup class ="vertical-flex margin-top" rendered ="#{ not empty reportsBean.topSellersTrack}">
            <ui:repeat value="#{reportsBean.topSellersTrack}" var ="trackItem">
               
                <!-- Track Name And Price -->
                <div class="flex-horizontal text-margin-horizontal">
                    <h:link class="link hover-effect margin-top" value="#{trackItem.name}"
                            outcome="/storefront/pages/public/itemDetails?id=#{trackItem.itemId}"/>
                    <h:outputText value="&#160;" /> 
                    <h:outputText value=" - #{trackItem.orderItems.size()} #{msg.itemsBought}"/>
                </div>
            </ui:repeat>
        </h:panelGroup>

        <!-- No Tracks Were Sold Yet -->
        <h:panelGroup  class ="vertical-flex margin-top" rendered ="#{empty reportsBean.topSellersTrack}">
            <h:outputText value="#{msg.noItemsSold}"/>
        </h:panelGroup>
        
    </ui:composition>
</html>

