<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>
        
        <!-- Show All Zero Buyers-->
        <ui:repeat value="#{reportsBean.zeroSellerUsers}" var ="user">
            <div class="flex-horizontal text-margin-horizontal">
                <h:outputText value=" - #{user.firstName} #{user.lastName}"/>
            </div>
        </ui:repeat>
        
        <!-- All Users Bought An Item -->
        <h:panelGroup rendered="#{empty reportsBean.zeroSellerUsers}">
            <h:outputText value="#{msg.allUsersBoughtAnItem}"/>
        </h:panelGroup>
        
    </ui:composition>
</html>

