<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/admin/admin_page.css" />
        </ui:define>

        <!-- Show Zero Item Sellers -->
        <h:panelGroup rendered ="#{not empty reportsBean.zeroSellers}">
            <h:dataTable styleClass="dataTable hover stripe order-column row-border"
                         value="#{reportsBean.zeroSellers}"
                         var="item">

                <!-- Item Name -->
                <h:column>
                    <f:facet name="header">#{msg.item}</f:facet>
                    <h:link class="link hover-effect display-block margin-top" value="#{item.name}"
                            outcome="/storefront/pages/public/itemDetails?id=#{item.itemId}"/>
                </h:column>

                <!-- Item Type -->
                <h:column>
                    <f:facet name="header">#{msg.type}</f:facet>
                    <h:outputText value="#{item.itemType}"/>
                </h:column>

                <!-- Item Price -->
                <h:column>
                    <f:facet name="header">#{msg.price}</f:facet>
                    <h:outputText value="#{item.listPrice}"/>
                </h:column>

            </h:dataTable>
        </h:panelGroup>

        <!-- No Results Found - All Items Were Sold At Least Once -->
        <h:panelGroup rendered ="#{empty reportsBean.zeroSellers}">
            <h:outputText value="#{msg.allItemsSold}"/>
        </h:panelGroup>
        
    </ui:composition>
</html>

