<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">

    <ui:define name="content">
        <h:form styleClass="cart">
            <h2 class="title title--centered">#{msg["cartYourCart"]} (#{shoppingCartBean.count} #{msg["cartYourCartItems"]})</h2>

            <!-- IF CART EMPTY -->
            <h:panelGroup rendered="#{shoppingCartBean.cartEmpty}">
                <h3 class="title title--centered">#{msg["cartYourCartEmpty"]}</h3>
            </h:panelGroup>

            <!-- IF CART NOT EMPTY -->
            <h:panelGroup rendered="#{!shoppingCartBean.cartEmpty}">
                <div class="cart__column-headers">
                    <div class="cart__column-header cart__column-header--name">#{msg["cartItemName"]}</div>
                    <div class="cart__column-header cart__column-header--price">#{msg["cartItemPrice"]}</div>
                </div>

                <div class="cart__items">
                    <ui:repeat value="#{shoppingCartBean.items}" var="item">
                        <div class="cart__item">
                            <div class="cart__item-image">
                                <h:graphicImage url="/images/#{item.picturePath}"
                                                alt="Item"/>
                            </div>

                            <div class="cart__item-title">
                                <h:link value="#{item.name}"
                                        outcome="/storefront/pages/public/itemDetails">
                                    <f:param name="id" value="#{item.itemId}"/>
                                </h:link>
                            </div>

                            <div class="cart__item-price">
                                <h:outputText value="#{item.listPrice}"/> $
                            </div>

                            <div class="cart__remove-item-btn">
                                <h:commandLink action="#{shoppingCartBean.removeItemFromCart(item.itemId)}"
                                               styleClass="remove-from-cart">
                                    <f:ajax execute="@this" render="@form"/>
                                    <h:graphicImage url="/resources/icons/cancel.svg"/>
                                </h:commandLink>
                            </div>
                        </div>
                    </ui:repeat>
                </div>

                <div class="cart__totals">
                    <div class="cart__subtotal cart__subtotal--label">
                        #{msg["cartSubtotal"]}:
                    </div>

                    <div class="cart__subtotal cart__subtotal--value">
                        <h:outputText value="#{shoppingCartBean.subtotal}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>

                    <div class="cart__taxes cart__taxes--label">
                        #{msg["cartTaxes"]}:
                    </div>

                    <div class="cart__taxes cart__taxes--value">
                        <h:outputText value="#{shoppingCartBean.taxes}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>

                    <div class="cart__grand-total cart__grand-total--label">
                        #{msg["cartGrandTotal"]}:
                    </div>

                    <div class="cart__grand-total cart__grand-total--value">
                        <h:outputText value="#{shoppingCartBean.grandTotal}">
                            <f:convertNumber maxFractionDigits="2"/>
                        </h:outputText>$
                    </div>

                    <h:link styleClass="cart__checkout button button--dark button--longest"
                            rendered="#{!userBean.user.manager}"
                            outcome="/storefront/pages/authenticated/checkout">#{msg["cartCheckout"]}</h:link>
                </div>

            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
</html>