<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">
    <ui:composition template="/storefront/templates/storefrontTemplate.xhtml">

        <ui:define name="metadata">
            <f:metadata>

                <!-- GET SEARCH TERM PARAM FROM LINK -->
                <f:viewParam name="searchTerm" value="#{searchBean.searchTerm}" />

                <!-- IF SEARCH TERM EXISTS INITIATE SEARCH -->
                <f:viewAction action="#{searchBean.searchForItems}" if="#{not empty searchBean.searchTerm}" />

            </f:metadata>
            <h:outputStylesheet name="css/pages/catalog.css" />
        </ui:define>

        <ui:define name="content">
            <div class="catalog_main">
                <div class="header_wrap">

                    <!-- CURRENT SEARCH TERM -->
                    <div class="genre_name">
                        <h3>#{msg.searchBtn}: #{searchBean.searchTerm}</h3>
                    </div>

                    <!-- POSSIBLE SORT OPTIONS -->
                    <div class="sort_by">
                        <h:form>
                            <label for="sort_by" class="label_sort_by">#{msg.sortBy}</label>
                            <h:selectOneMenu id="sort_by" value="sort_by" class="sort_by_options" valueChangeListener="#{catalogBean.sortByHandler}" onchange="submit()">
                                <f:selectItems value="#{catalogBean.sortOptions}" var="sort"
                                               itemLabel="#{sort.label}" itemValue="#{sort.value}" />
                            </h:selectOneMenu>
                        </h:form>
                    </div>
                </div>

                <div class="main_wrapper">
                    <div class="search_filter_section">
                        <h1 class="title_section">#{msg.searchFilter}</h1>
                        <h:form id="filter_form">
                            <div class="filter_section">
                                <div class="item_type">
                                    <h4>#{msg.items}:</h4>
                                    <h:selectManyCheckbox value="#{filterBean.filterTypeList}">
                                        <f:selectItems value="#{catalogBean.ft}"/>
                                    </h:selectManyCheckbox>
                                </div>

                                <div class="search_by">
                                    <div class="criterias">
                                        <h4>#{msg.filters}</h4>
                                        <h:selectManyCheckbox value="#{filterBean.searchFilterList}">
                                            <f:selectItems value="#{catalogBean.sf}"/>
                                        </h:selectManyCheckbox>
                                        <div id="date_show" class="date_show">
                                            <h:outputLabel value="From" for="from"/>
                                            
                                            <h:inputText id="from"  value="#{filterBean.from}">
                                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                                            </h:inputText>
                                            
                                            <h:outputLabel value="To" for="to"/>
                                            
                                            <h:inputText id="to" value="#{filterBean.to}">
                                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="date_range"></div>
                                </div>

                                <h:commandButton action="/storefront/pages/public/catalog?faces-redirect=true&amp;includeViewParams=true" value="Apply"/>
                            </div>
                        </h:form>
                    </div>


                    <!-- ITEMS IN CATALOG -->
                    <div class="item_section">
                        <h1 class="title_section">#{msg.items}</h1>
                        <h:panelGroup layout="block" class="units" id="units">
                            <ui:repeat value="#{catalogBean.items}" var="item">
                                <mm:ItemDisplay item="#{item}"/>
                            </ui:repeat>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </ui:define>

        <ui:define name="script">
            <h:outputScript library="js" name="date_dropdown.js" />
        </ui:define>
    </ui:composition>
</html>
