<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/help.css"/>
    </ui:define>
    <ui:define name="content">
        <h1 class="mainheading">#{msg.faq}</h1>
        <div class="faq-accordion">
            <h1 class="section">#{msg.homePageSection}</h1>
            <div class="item">
                <input type="checkbox" class="expandable" id="homepage"/>
                <label for="homepage" class="question">#{msg.homePageQ}</label>
                <div class="answer">
                    <p>#{msg.homePageA}</p>
                </div>
            </div>
            <div class="item">
                <input type="checkbox" class="expandable" id="surveys"/>
                <label for="surveys" class="question">#{msg.surveyQ}</label>
                <div class="answer">
                    <p>#{msg.surveyA}</p>
                </div>
            </div>
            <h1 class="section">#{msg.shoppingSection}</h1>
            <div class="item">
                <input type="checkbox" class="expandable" id="cart"/>
                <label for="cart" class="question">#{msg.cartQ}</label>
                <div class="answer">
                    <p>#{msg.cartA}</p>
                </div>
            </div>
            <div class="item">
                <input type="checkbox" class="expandable" id="downloads"/>
                <label for="downloads" class="question">#{msg.downloadsQ}</label>
                <div class="answer">
                    <p>#{msg.downloadsA}</p>
                </div>
            </div>
            <h1 class="section">#{msg.reviewsSection}</h1>
            <div class="item">
                <input type="checkbox" class="expandable" id="reviews"/>
                <label for="reviews" class="question">#{msg.reviewsQ}</label>
                <div class="answer">
                    <p>#{msg.reviewsA}</p>
                </div>
            </div>
            <h1 class="section">#{msg.registrationSection}</h1>
            <div class="item">
                <input type="checkbox" class="expandable" id="registration"/>
                <label for="registration" class="question">#{msg.registrationQ}</label>
                <div class="answer">
                    <p>#{msg.registrationA}</p>
                </div>
            </div>
            <div class="item">
                <input type="checkbox" class="expandable" id="password"/>
                <label for="password" class="question">#{msg.passwordQ}</label>
                <div class="answer">
                    <p>#{msg.passwordA}</p>
                </div>
            </div>

        </div>
    </ui:define>
</ui:composition>
</html>
