<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">
    <ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/item_details.css" />

            <f:metadata>
                <!-- GET ID FROM QUERY STRING -->
                <f:viewParam name="id" value="#{itemDetailsBean.itemId}"/>

                <!-- FIND ITEM AFTER GETTING THE ID FROM THE QUERY STRING -->
                <f:viewAction action="#{itemDetailsBean.findItem}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div class="item-main-container">

                <!-- ITEM IMAGE -->
                <div class="item-image">
                    <h:graphicImage value="/images/#{itemDetailsBean.item.picturePath}" class="padding-image"/>
                </div>

                <!-- TRACK NAME AND ARTISTS -->
                <div class="item-info">
                    <h2 class="title">

                        <!-- ITEM TITLE BASED ON ITEM TYPE -->
                        <c:if test="#{itemDetailsBean.item.itemType eq 'track'}">
                            #{itemDetailsBean.item.name} -
                            <c:forEach items="#{itemDetailsBean.item.artistList}" var="artist">
                                #{artist.name}#{loop.last ? ' ' : ', '}
                            </c:forEach>
                        </c:if>
                        <c:if test="#{itemDetailsBean.item.itemType eq 'album'}">
                            #{itemDetailsBean.item.name} - #{itemDetailsBean.item.artist.name}
                        </c:if>

                    </h2>

                    <!-- ITEM INFORMATION BASED ON ITEM TYPE -->
                    <c:if test="#{itemDetailsBean.item.itemType eq 'track'}">
                        <ui:include src="/storefront/fragments/item/trackInformation.xhtml"/>
                    </c:if>
                    <c:if test="#{itemDetailsBean.item.itemType eq 'album'}">
                        <ui:include src="/storefront/fragments/item/albumInformation.xhtml"/>
                    </c:if>
                    
                    <h:form>
                        <h:commandButton styleClass="button item-button-center margin-top"
                                         action="#{shoppingCartBean.addItemToCart(itemDetailsBean.itemId)}"
                                         value="Add To Cart">
                            <f:ajax render="@none" />
                        </h:commandButton>
                    </h:form>
                </div>
            </div>

            <!-- VIEW RECOMMENDED TRACKS IF TRACK PAGE -->
            <h:panelGroup rendered ="#{itemDetailsBean.item.itemType eq 'track'}">
                <div class="view-recomended-items  padding-vertical">
                    <h:outputText class="title padding-vertical" value= "#{msg.recommendedTracks}"/>
                    <div class="recomended-items-container">
                        <ui:repeat value="#{itemDetailsBean.similarTracks}" var="item" >
                            <div class="content"><mm:ItemDisplay item="#{item}"/></div>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>

            <!-- VIEW RECOMMENDED ALBUMS -->
            <div class="view-recomended-items  padding-vertical">
                <h:outputText class="title padding-vertical" value= "#{msg.recommendedAlbums}"/>
                <div class="recomended-items-container">
                    <ui:repeat value="#{itemDetailsBean.similarAlbums}" var="item" >
                        <div class="content"><mm:ItemDisplay item="#{item}"/></div>
                    </ui:repeat>
                </div>
            </div>

            <!-- REVIEW SECTION -->
            <ui:include src="/storefront/fragments/item/reviewSection.xhtml"/>
        </ui:define>
    </ui:composition>
</html>