<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
    
    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/authentication.css" />
    </ui:define>

    <ui:define name="content">
        <div class="wrapper">
            <div id="first" class="contentContainer">
                <h1 class="heading">#{msg.signin}</h1>

                <h:form id="loginForm">
                    <h:outputLabel for="email" styleClass="formLabel" value="#{msg.email}"/><br/>
                    <h:inputText binding="#{email}" id="email" styleClass="#{email.valid ? 'formInput' : 'errorInput'}" value="#{loginBean.email}" required="true" requiredMessage="#{msg.emptyEmailErr}"/><br/>
                    <h:message styleClass="errorMsg" for="email"/><br/>
                    <h:outputLabel for="password" styleClass="formLabel" value="#{msg.password}"/><br/>
                    <h:inputSecret binding="#{password}" id="password" styleClass="#{password.valid ? 'formInput' : 'errorInput'}" value="#{loginBean.password}" required="true" requiredMessage="#{msg.emptyPasswordLoginErr}"/><br/>
                    <h:message styleClass="errorMsg" for="password"/><br/>
                    <h:commandButton styleClass="createAccountBtn" value="#{msg.login}" action="#{loginBean.authenticate()}" id="loginSubmit"/>
                </h:form>
                <br/>
                <h:outputText styleClass="errorMsg" value="#{msg.loginFailedErr}" rendered="#{!loginBean.validLogin}"/>
            </div>
            <div id="second" class="contentContainer">
                <h1 class="heading">#{msg.newCustomer}</h1>
                <h:outputText styleClass="listItem" value="#{msg.createAccTxt}"/><br/>
                <ul>
                    <li class="listItem">#{msg.createAccSubTxt1}</li>
                    <li class="listItem">#{msg.createAccSubTxt2}</li>
                    <li class="listItem">#{msg.createAccSubTxt3}</li>
                </ul>
                <h:link id="createSignIn" styleClass="createAccountBtn" value="#{msg.createNewAcc}" outcome="/storefront/pages/public/register"/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
