<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">
    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/authentication.css" />
    </ui:define>

    <ui:define name="content">
        <div id="registerContainer">
            <h1 class="heading">#{msg.createNewAcc}</h1>
            <h:form id="register">
                <h:outputLabel for="email" styleClass="formLabel" value="#{msg.email}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="50" binding="#{email}" styleClass="#{email.valid ? 'formInput' : 'errorInput'}" id="email" value="#{registrationBean.user.email}" validator="#{registrationBean.validateEmail}" required="true" requiredMessage="#{msg.emptyEmailErr}"/><br/>
                <h:message styleClass="errorMsg" for="email"/><br/>
                <h:outputLabel for="password" styleClass="formLabel" value="#{msg.password}"/><small>#{msg.required}</small><br/>
                <h:inputSecret maxlength="30" binding="#{password}" styleClass="#{password.valid ? 'formInput' : 'errorInput'}" id="password" value="#{registrationBean.user.password}" required="true" requiredMessage="#{msg.emptyPasswordErr}"/><br/>
                <h:message styleClass="errorMsg" for="password"/><br/>
                <h:outputLabel for="firstName" styleClass="formLabel" value="#{msg.firstname}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="30" binding="#{firstName}" styleClass="#{firstName.valid ? 'formInput' : 'errorInput'}" id="firstName" value="#{registrationBean.user.firstName}" required="true" requiredMessage="#{msg.emptyFnameErr}"/><br/>
                <h:message styleClass="errorMsg" for="firstName"/><br/>
                <h:outputLabel for="lastName" styleClass="formLabel" value="#{msg.lastname}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="30" binding="#{lastName}" styleClass="#{lastName.valid ? 'formInput' : 'errorInput'}" id="lastName" value="#{registrationBean.user.lastName}" required="true" requiredMessage="#{msg.emptyLnameErr}"/><br/>
                <h:message styleClass="errorMsg" for="lastName"/><br/>
                <h:outputLabel for="company" styleClass="formLabel" value="#{msg.company}"/><br/>
                <h:inputText maxlength="30" styleClass="formInput" id="company" value="#{registrationBean.user.company}"/><br/><br/>
                <h:outputLabel for="address" styleClass="formLabel" value="#{msg.addr1}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="50" binding="#{address}" styleClass="#{address.valid ? 'formInput' : 'errorInput'}" id="address" value="#{registrationBean.user.address1}" required="true" requiredMessage="#{msg.emptyAddrErr}"/><br/>
                <h:message styleClass="errorMsg" for="address"/><br/>
                <h:outputLabel for="address2" styleClass="formLabel" value="#{msg.addr2}"/><br/>
                <h:inputText maxlength="50" styleClass="formInput" id="address2" value="#{registrationBean.user.address2}"/><br/><br/>
                <h:outputLabel for="city" styleClass="formLabel" value="#{msg.city}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="30" binding="#{city}" styleClass="#{city.valid ? 'formInput' : 'errorInput'}" id="city" value="#{registrationBean.user.city}" required="true" requiredMessage="#{msg.emptyCityErr}"/><br/>
                <h:message styleClass="errorMsg" for="city"/><br/>
                <h:outputLabel for="province" styleClass="formLabel" value="#{msg.province}"/><small>#{msg.required}</small><br/>
                <h:selectOneMenu styleClass="formInput" id="province" value="#{registrationBean.user.province}">
                    <f:selectItem itemValue="AB"/>
                    <f:selectItem itemValue="BC"/>
                    <f:selectItem itemValue="MB"/>
                    <f:selectItem itemValue="NB"/>
                    <f:selectItem itemValue="NL"/>
                    <f:selectItem itemValue="NT"/>
                    <f:selectItem itemValue="NS"/>
                    <f:selectItem itemValue="NU"/>
                    <f:selectItem itemValue="ON"/>
                    <f:selectItem itemValue="PE"/>
                    <f:selectItem itemValue="QC"/>
                    <f:selectItem itemValue="SK"/>
                    <f:selectItem itemValue="YT"/>
                </h:selectOneMenu><br/>
                <h:message styleClass="errorMsg" for="province"/><br/>
                <h:outputLabel for="postalCode" styleClass="formLabel" value="#{msg.postalecode}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="7" binding="#{postalCode}" styleClass="#{postalCode.valid ? 'formInput' : 'errorInput'}" id="postalCode" value="#{registrationBean.user.postalCode}" validator="#{registrationBean.validatePostalCode}" required="true" requiredMessage="#{msg.emptyPostalCodeErr}"/><br/>
                <h:message styleClass="errorMsg" for="postalCode"/><br/>
                <h:outputLabel for="phone" styleClass="formLabel" value="#{msg.homephone}"/><small>#{msg.required}</small><br/>
                <h:inputText maxlength="30" binding="#{phone}" styleClass="#{phone.valid ? 'formInput' : 'errorInput'}" id="phone" value="#{registrationBean.user.homePhone}" required="true" requiredMessage="#{msg.emptyHomePhoneErr}"/><br/>
                <h:message styleClass="errorMsg" for="phone"/><br/>
                <h:outputLabel for="cellPhone" styleClass="formLabel" value="#{msg.mobilephone}"/><br/>
                <h:inputText maxlength="30" styleClass="formInput" id="cellPhone" value="#{registrationBean.user.mobilePhone}"/><br/><br/>
                <h:commandButton styleClass="createAccountBtn" value="#{msg.createNewAccBtn}" action="#{registrationBean.registerUser()}"/>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>