
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsf/core">
    <ui:composition template="/storefront/templates/storefrontTemplate.xhtml">           
            <ui:define name="metadata">
                <h:outputStylesheet name="css/pages/error_page.css" />
            </ui:define>
            
            <ui:define name="content">
                <h:form>
                    <div class="center404">
                        <h:graphicImage  class="imageNotFound" value="/resources/images/errorImage.PNG"></h:graphicImage>
                        <p class="errorMessage">#{msg.notFoundMessage}</p>
                        <h:commandButton class="home_buttom" value="#{msg.backBtn}"  action="home?faces-redirect=true"/>
                    </div>
                </h:form>
            </ui:define>
    </ui:composition>
</html>