<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:mm="http://xmlns.jcp.org/jsf/composite/components">
    <ui:composition template="/storefront/templates/storefrontTemplate.xhtml">

        <ui:define name="metadata">
            <h:outputStylesheet name="css/pages/mainpage.css" />
        </ui:define>

        <ui:define name="content">
            <div class="mainContainer">
                <div id="topBannerContainer">
                    <h1 class="headingTxt">#{msg.largestCollection}</h1>
                    <h2 class="subTxt">#{msg.discoverSongs}</h2>
                    <h:button id="browseBtn" value="#{msg.browseBtn}"/>
                </div>
                <div id="promotionSection">
                    <div class="promotionItem">
                        <img src="resources/images/download.png" alt="Download"/>
                        <div class="text_wrapper">
                            <h2 class="itemHeader">#{msg.downloadSong}</h2>
                            <h2 class="itemDetails">#{msg.unlimitedDownload}</h2>
                        </div>
                    </div>
                    <div id="middlePromotionContainer" class="promotionItem">
                        <img src="resources/images/certificate.png" alt="Certificate"/>
                        <div class="text_wrapper">
                            <h2 class="itemHeader">#{msg.securePayment}</h2>
                            <h2 class="itemDetails">#{msg.encryptPayment}</h2>
                        </div>
                    </div>
                    <div class="promotionItem">
                        <img src="resources/images/moneyback.png" alt="Rotating arrow"/>
                        <div class="text_wrapper">
                            <h2 class="itemHeader">#{msg.moneyGuarantee}</h2>
                            <h2 class="itemDetails">#{msg.moneyBackGuarantee}</h2>
                        </div>
                    </div>
                </div>

                <div id="releasesSection">
                    <c:if test="#{recommendBean.hasRecommendation()}">
                        <h1 class="head">#{msg.recommendedSection}</h1>
                    </c:if>
                    <c:if test="#{!recommendBean.hasRecommendation()}">
                        <h1 class="head">#{msg.latestRelease}</h1>
                    </c:if>

                    <h:panelGroup layout="block" class="units">
                        <ui:repeat value="#{recommendBean.list}" var="item">
                            <mm:ItemDisplay item="#{item}"/>
                        </ui:repeat>
                    </h:panelGroup>
                </div>

                <h:panelGroup id="specialsSection" rendered="#{salesBean.list.size() ne 0}">
                    <h1 class="head">#{msg.specialsTitle}</h1>

                    <h:panelGroup layout="block" class="units">
                        <ui:repeat value="#{salesBean.list}" var="item">
                            <mm:ItemDisplay item="#{item}"/>
                        </ui:repeat>
                    </h:panelGroup>
                </h:panelGroup>

                <div id="adbannerSpace">
                    <h:panelGroup layout="block" rendered="#{adBean.leftAd != null}" id="leftBanner" class="ad">
                        <h:outputLink value="#{adBean.leftAd.websiteURL}">
                            <h:graphicImage value="#{adBean.leftAd.imageURL}" />
                        </h:outputLink>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{adBean.rightAd != null}" id="rightBanner" class="ad">
                        <h:outputLink value="#{adBean.rightAd.websiteURL}">
                            <h:graphicImage value="#{adBean.rightAd.imageURL}" />
                        </h:outputLink>
                    </h:panelGroup>
                </div>

                <div class="news_feed" id="news">
                    <h1 class="head">#{msg.news}</h1>
                    <div class="news_units">
                        <p:feedReader value="#{newsBean.news.url}" var="feed" size="4" >
                            <h:outputLink value="#{feed.link}" class="news_unit">
                                <h:graphicImage value="#{feed.enclosures[0].url}" />
                                <p>
                                    <h:outputText value="#{feed.description.value}" />
                                </p>
                            </h:outputLink>
                        </p:feedReader>
                    </div>
                </div>
            </div>
            <h:panelGroup layout="block" id="surveySpace">
                <h:form id="surveyForm" rendered="#{session.getAttribute('user') != null and surveyBean.showSurvey and !userBean.user.manager}">
                    <h1 class="head">#{surveyBean.question}</h1>
                    <div id="survey">
                        <h:selectOneRadio value="#{surveyBean.answer}" layout="pageDirection">
                            <f:selectItems value="#{surveyBean.options}" var="option"
                                           itemLabel="#{option}" itemValue="#{surveyBean.options.indexOf(option)+1}"/>
                        </h:selectOneRadio>
                    </div>
                    <h:commandButton styleClass="submitSurvey" value="Submit answer" action="#{surveyBean.submit}">
                        <f:ajax execute="surveyForm" render="surveySpace resultSpace"/>
                    </h:commandButton>
                </h:form>
            </h:panelGroup>
            <h:panelGroup id="resultSpace" layout="block">
                <h:panelGroup layout="block" rendered="#{userBean.user.manager or (session.getAttribute('user') != null and surveyBean.showSurvey == false)}">
                    <h1 class="head">#{surveyBean.question}</h1>
                    <h:panelGroup layout="block" rendered="#{surveyBean.totalVotes != 0}">
                        <ul class="surveyResultsList">
                            <ui:repeat value="#{surveyBean.options}" var="option" varStatus="iteration">
                                <li>#{option} - #{surveyBean.resultsPercentages.get(iteration.index)}% <h:panelGroup styleClass="chosen" rendered="#{iteration.index +1 == surveyBean.answer}">&#10003;</h:panelGroup> </li>
                                <div class="percentageBar" style="width: #{surveyBean.resultsPercentages.get(iteration.index)}%">
                                    <div class="animation_progress" ></div>
                                </div>

                            </ui:repeat>
                        </ul>
                        <h:outputText id="totalVotes" value="#{msg.totalVotes} #{surveyBean.totalVotes}" />
                    </h:panelGroup>
                    <h:outputText value="#{msg.noVotes}" rendered="#{surveyBean.totalVotes == 0}"/>
                </h:panelGroup>
            </h:panelGroup>
        </ui:define>

    </ui:composition>
</html>