<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view contentType="text/html" encoding="UTF-8">

    <h:head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.js"/>

        <h:outputStylesheet name="css/main.css"/>
        <title>Music Box</title>
        <ui:insert name="metadata"/>
    </h:head>

    <h:body>
        <h:panelGroup id="managerWrapper" layout="block">
            <h:panelGroup layout="block" styleClass="dashNav">
                <h:graphicImage id="logoImg" url="/resources/images/icon.png"/>
                <h:outputText id="logoTxt" value="Manager"/>
                <h:panelGroup styleClass="userSide">
                    <h:graphicImage id="loginIcon" url="/resources/images/login_icon.svg"/>
                    <h:outputText id="managerName" value="#{navBean.currentUser.firstName} #{navBean.currentUser.lastName} &#9662;"/>
                    <h:panelGroup layout="block" styleClass="dropDownContent">
                        <h:link outcome="/home.xhtml" value="Go to home page"/>
                        <h:form>
                            <h:commandLink action="#{loginBean.logout}" value="Logout"/>
                        </h:form>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
            <h:panelGroup id="dashContent" layout="block">
                <h:panelGroup layout="block" styleClass="sidebar">
                    <ul id="pageLinksList">
                        <li id="#{navBean.activePage == 'reports' ? 'chosenItem' : 'artistLink'}" class="pageLinksItem"><a href="reports.xhtml">Dashboard</a></li>
                        <li id="#{navBean.activePage == 'inventory' ? 'chosenItem' : 'inventoryLink'}" class="pageLinksItem"><a href="inventoryList.xhtml">Inventory</a></li>
                        <li id="#{navBean.activePage == 'orders' ? 'chosenItem' : 'ordersLink'}" class="pageLinksItem"><a href="orderList.xhtml">Orders</a> </li>
                        <li id="#{navBean.activePage == 'reviews' ? 'chosenItem' : 'reviewsLink'}" class="pageLinksItem"><a href="reviewList.xhtml">Reviews</a></li>
                        <li id="#{navBean.activePage == 'news' ? 'chosenItem' : 'newsLink'}" class="pageLinksItem"><a href="newsList.xhtml">News</a></li>
                        <li id="#{navBean.activePage == 'clients' ? 'chosenItem' : 'clientsLink'}" class="pageLinksItem"><a href="clientList.xhtml">Clients</a></li>
                        <li id="#{navBean.activePage == 'surveys' ? 'chosenItem' : 'surveysLink'}" class="pageLinksItem"><a href="surveyList.xhtml">Surveys</a> </li>
                        <li id="#{navBean.activePage == 'ads' ? 'chosenItem' : 'adsLink'}" class="pageLinksItem"><a href="adList.xhtml">Ads</a> </li>
                        <li id="#{navBean.activePage == 'category' ? 'chosenItem' : 'genreLink'}" class="pageLinksItem"><a href="genreEditor.xhtml">Genre</a></li>
                        <li id="#{navBean.activePage == 'artist' ? 'chosenItem' : 'artistLink'}" class="pageLinksItem"><a href="artistEditor.xhtml">Artist</a></li>
                    </ul>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="management-container">
                    <ui:insert name="content"/>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <h:outputScript library="js" name="load_datatable.js" />
        <ui:insert name="script"/>
        
    </h:body>
</f:view>
</html>
