<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<ui:composition template="/storefront/templates/storefrontTemplate.xhtml">

    <!-- SETTING A USER VARIABLE SO IT WILL BE EASIER TO REFER TO THE USER -->
    <c:set var="user" value="#{myAccountBean.user}"/>

    <ui:define name="metadata">
        <h:outputStylesheet name="css/pages/my_account.css" />
    </ui:define>

    <ui:define name="content">
        <div class="my-account__wrapper">
            <div class="my-account__menu">
                <div class="my-account__menu-title">
                    #{msg["myAccMenuTitle"]}
                </div>

                <ul class="my-account__menu-list">
                    <li>
                        <h:link styleClass="my-account__menu-link"
                                outcome="/storefront/pages/authenticated/accountInformation.xhtml">
                            #{msg["myAccMyAccInfo"]}
                        </h:link>
                    </li>
                    <li>
                        <h:link styleClass="my-account__menu-link"
                                outcome="/storefront/pages/authenticated/myOrders.xhtml">
                            #{msg["myAccMyOrders"]}
                        </h:link>
                    </li>
                    <li>
                        <h:link styleClass="my-account__menu-link"
                                outcome="/storefront/pages/authenticated/accountSettings.xhtml">
                            #{msg["myAccSettings"]}
                        </h:link>
                    </li>
                    <li>
                        <h:form>
                            <h:commandLink styleClass="my-account__menu-link"
                                           action="#{myAccountBean.logout}">
                                #{msg["myAccLogout"]}
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>

            <div class="my-account__content">
                <ui:insert name="my-account-content"/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>