<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view contentType="text/html" encoding="UTF-8" locale="#{languageBean.locale}">

        <!--HEAD-->
        <h:head>

            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <!-- CSS IMPORT -->
            <h:outputStylesheet name="css/main.css"/>

            <!-- PLACEHOLDER FOR METADATA (E.G. FOR VIEWPARAMS) -->
            <ui:insert name="metadata"/>


            <title>Music Box</title>

        </h:head>

        <!--BODY-->
        <h:body>

            <!-- WRAP WHOLE PAGE  -->
            <div id="wrap">

                <!-- NAVBAR -->
                <ui:include src="/storefront/fragments/common/navigation.xhtml"/>

                <!-- CONTENT -->
                <div class="container">
                    <ui:insert name="content"/>
                </div>

                <!-- FOOTER -->
                <ui:include src="/storefront/fragments/common/footer.xhtml"/>
            </div>

            <!-- JAVASCRIPT IMPORTS -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous"/>

            <h:outputScript library="js" name="activate_dropdown.js" />
            <h:outputScript library="js" name="open_bottom_section.js" />

            <ui:insert name="script"/>

        </h:body>
    </f:view>
</html>